<footer class="footer" id="bg-footer">
    <div class="container-general">
        
            <div class="container-row-1">  
                <div class="redes">
                    <ul>
                        <li><a href=""><img src="/img/iconos/facebook.png" alt="icono de facebook"> </a></li>
                        <li><a href=""><img src="/img/iconos/instagram.png" alt="icono de instagram"></a></li>
                        <li><a href=""><img src="/img/iconos/youtube.png" alt="icono de youtube"></a></li>
                    </ul>
                </div>
            </div>

            <div class="informacion-footer">
                <ul>
                    <li><a href="/sucursales" target="_blank">Sucursales</a></li>
                    <li><a href="/comoComprar" target="_blank">Como comprar</a></li>
                    <li><a href="/terms" target="_blank">Terminos y condiciones</a></li>
                </ul>
            </div>

            <div class="container-row-3">
                <div class="aceptamos">
                    <h4>Medios de pago</h4>
                    <ul>
                        <li><a href=""><img src="/img/iconos/visa.png" alt="icono de visa"></a></li>
                        <li><a href=""><img src="/img/iconos/paypal.png" alt="icono de paypal"></a></li>
                        <li><a href=""><img src="/img/iconos/american-express.png" alt="icono de mastercard"></a></li>
                        <li><a href=""><img src="/img/iconos/bitcoin.png" alt="icono de mastercard"></a></li>
                        <li><a href=""><img src="/img/iconos/amex.png" alt="icono de mastercard"></a></li>
                    </ul>
                </div>
                
                <div class="envios">
                    <h4>Medios de envios</h4>
                    <img src="/img/iconos/fedex.png" alt="icono de fedex">
                </div>
            </div>
           
            <div class="container-row-2"> 
                <div class="email">
                    <h4>Enterate de lo mejor del <br> mundo GEEK</h4>
                    <div class="search-bar-footer">
                        <input type="text" placeholder="Ingrese su Nombre">
                        <input type="email" placeholder="Ingrese su Email">
                        <button><b>Enviar</b></button>
                    </div>
                </div>

                <div class="contactanos">
                    <h4>Contacto</h4>
                    <ul>
                        <li class="row">
                            <img src="/img/iconos/email.png" alt="icono de email">
                            <label>PochiTamaStore@gmail.com</label>
                        </li>
                        <li class="row">
                            <img src="/img/iconos/whatsapp.png" alt="icono de whatsapp">
                            <label>+54 2613023687</label>
                        </li>
                        <li class="row">
                            <img src="/img/iconos/marcador-de-posicion.png" alt="icono de ubicacion">
                            <label>Mendoza Plaza Shopping-795</label>
                        </li>
                    </ul>
                </div>
            </div>
        
    </div>
</footer>