<header>
    <div class="main-header">
        <div class="logo">
            <a href="/">
                <img src="/img/pochita.svg" width="100" alt="Logo de Pochi tama store">
            </a>
        </div>

        <i class="fas fa-bars"></i>

        <!-- menu de navegacion mobile -->
        <nav class="navigation-bar" id="navigation-bar-mobile">
            <div class="user-icons-mobile">
                <i class="fas fa-user"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>

            <!-- lista con los elementos del menu (categorias) -->
            <ul class="menu">
                <li class="dropdown-menu">
                    <a href="">Funko POP</a>
                    <i class="fas fa-angle-down"></i>
                </li>
                <li class="dropdown-menu">
                    <a href="">Figuras Coleccionables</a>
                    <i class="fas fa-angle-down"></i>
                </li>
                <li class="dropdown-menu">
                    <a href="">Comics y manga</a>
                    <i class="fas fa-angle-down"></i>
                </li>
                <li class="dropdown-menu">
                    <a href="">Articulos Geek</a>
                    <i class="fas fa-angle-down"></i>
                </li>
                <li>
                    <a href="">Contacto</a>
                </li>
            </ul>
        </nav>

        <!-- icono del buscador del header mobile -->
        <div class="search-icon">
            <i class="fas fa-search"></i>
        </div>

        <!-- buscador escritorio -->
        <form action="" class="search-form-desktop">
            <div class="search-bar">
                <input type="search" name="" id="">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>

        <!-- iconos de usuario escritorio -->
        <div class="user-icons-desktop">
            <i class="fas fa-user"><span>cuenta</span></i>
            
            <i class="fas fa-shopping-cart"><span>carrito</span></i>
            <i class="fas fa-envelope"><span>cuenta</span></i>
        </div>

    </div>
     <!-- menu de navegacion desktop -->
     <nav class="navigation-bar" id="navigation-bar-desktop">

        <!-- lista con los elementos del menu (categorias) -->
        <ul class="menu">
            <li class="dropdown-menu">
                <a href="">Funko POP</a>
                <i class="fas fa-angle-down"></i>
            </li>
            <li class="dropdown-menu">
                <a href="">Figuras Coleccionables</a>
                <i class="fas fa-angle-down"></i>
            </li>
            <li class="dropdown-menu">
                <a href="">Comics y manga</a>
                <i class="fas fa-angle-down"></i>
            </li>
            <li class="dropdown-menu">
                <a href="">Articulos Geek</a>
                <i class="fas fa-angle-down"></i>
            </li>
            <li>
                <a href="">Contacto</a>
            </li>
        </ul>
    </nav>

    <nav class="nav-menu">

        <!-- buscador mobile -->

        <form action="" class="search-form-mobile">
            <div class="search-bar">
                <input type="search" name="" id="" placeholder="¿Que estas buscando?">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>

        <!-- subcategorias desplegables -->

        <section class="subcategory-menu" id="funko">
            <div class="subcategory-header">
                <h3><a href="">Funko POP</a></h3>
                <i class="fas fa-times-circle"></i>
            </div>
            <ul>
                <li><a href="">subcategorias</a></li>
                <li><a href="">subcategorias</a></li>
                <li><a href="">subcategorias</a></li>
            </ul>
        </section>
        <section class="subcategory-menu" id="figuras">
            <div class="subcategory-header">
                <h3><a href="">figuras coleccionables</a></h3>
                <i class="fas fa-times-circle"></i>
            </div>
            <ul>
                <li><a href="">subcategorias</a></li>
                <li><a href="">subcategorias</a></li>
                <li><a href="">subcategorias</a></li>
            </ul>
        </section>
        <section class="subcategory-menu" id="comics">
            <div class="subcategory-header">
                <h3><a href="">comics y manga</a></h3>
                <i class="fas fa-times-circle"></i>
            </div>
            <ul>
                <li><a href="">subcategorias</a></li>
                <li><a href="">subcategorias</a></li>
                <li><a href="">subcategorias</a></li>
            </ul>
        </section>
        <section class="subcategory-menu" id="articulos">
            <div class="subcategory-header">
                <h3><a href="">articulos geek</a></h3>
                <i class="fas fa-times-circle"></i>
            </div>
            <ul>
                <li><a href="">subcategorias</a></li>
                <li><a href="">subcategorias</a></li>
                <li><a href="">subcategorias</a></li>
            </ul>
        </section>
    </nav>

</header>