<header class="header">
    <div class="container-header">
        <div class="container-header-top">
            <div class="menu">
                <button class="burguer-menu">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="logo">
                <a href="/">
                    <img src="/img/pochita.svg" width="100" alt="Pochi tama store">
                </a>
            </div>
            <div class="search-bar">
                <input type="" placeholder="¿Que estas buscando?">
                <div class="boton">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            
            <div class="nav-bar1">
                <ul class="top-list">
                    <div class="inicio"><li><i class="fas fa-envelope"></i><a href="#"><label>Inicio</label></a></li></div>
                    <div class="cuenta"><li><i class="fas fa-user"></i><a href="/users/register"><label>Cuenta</label></a></li></div>
                    <div class="carrito"><li><i class="fas fa-shopping-cart"></i><a href="#"><label>Carrito</label></a></li></div>
                </ul>
            </div>
        </div>
        <div class="container-header-bot">
            <div class="nav-bar2">
                <ul class="bot-list">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Categorias</a><i class="fas fa-angle-down"></i></li>
                    <li><a href="#">Funko POP</a><i class="fas fa-angle-down"></i></li>
                    <li><a href="#">Comics</a><i class="fas fa-angle-down"></i></li>
                    <li><a href="#">Ofertas</a><i class="fas fa-angle-down"></i></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>