<header class="header-admin">
    <div class="container-header-admin">
        <div class="container-header-top-admin">
            <div class="menu-admin">
                <button class="burguer-menu-admin">
                    <i class="fas fa-user-tie"></i>
                </button>
                <h3>Hola Admin</h3>
            </div>
            <div class="logo-admin">
                <a href="/">
                    <img src="/img/pochita.svg" width="100" alt="Pochi tama store">
                </a>
            </div>
            <div class="search-bar-admin">
                <input type="" placeholder="¿Que estas buscando?">
                <div class="boton-admin">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
       
    </div>
</header>