<header class="admin">
    <div class="main-header admin" id="header">
        <div class="logo">
            <a href="/">
                <img src="/img/pochita.svg" alt="">
            </a>
        </div>

        <!--  <a href="/admin">Admin</a> -->


        <!-- Iconos de usuario escritorio -->
        <div class="user-icons-desktop">
            <div class="user">
                <% if (typeof session.user != "undefined") { %>
                <i class="fas fa-user"></i><span class="session"></span>
                <span>Hola Admin!</span>
                <div class="menu-user">
                    <a href="/users/profile">Mis datos</a>
                   <a href="/users/logout">Cerrar sesión</a>
                    <% if (session.user.rol === 1) { %>
                    <!-- <a href="/admin">Admin</a> -->
                    <% } %> 
                </div>
                <% } else {%>
                <a href="/users/login"><i class="fas fa-user"><span>Cuenta</span></i></a>
                <% } %>
            </div>


           <!--  <div class="user">
                <% if (typeof session.user != "undefined") { %>
               <span class="session"></span>
               <div class="menu-user">
                   <a href="/users/profile">Mis datos</a>
                   <a href="/users/logout">Cerrar sesión</a>
                   <% if (session.user.rol === 1) { %>
                       <a href="/admin">Admin</a>
                   <% } %>
               </div>
               <% } else {%>
               <a href="/users/login">Iniciar sesion</a>
               <a href="/users/register">Registrarse</a>
               <% } %>
           </div> -->

            <!-- Boton modo oscuro -->
            <button class="switch" id="switch">
                <span><i class="fas fa-sun"></i></span>
                <span><i class="fas fa-moon"></i></span>
            </button>
            
        </div>

    </div>
    <!-- Menú de navegación desktop -->
    <nav class="navigation-bar" id="navigation-bar-desktop">
                    <a class="sesion-datos" href="/users/profile">Mis datos</a>
                    <a class="sesion-datos" href="/users/logout">Cerrar sesión</a>
       <span></span>  
    </nav>

    <nav class="nav_menu">

        <!-- Buscador Mobile -->

        <form action="/products/search" method="GET" class="search-form-mobile" id="search">
            <div class="search-bar">
                <input type="search" name="keywords" placeholder="¿Que estas buscando?">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </nav>
</header>