<header>
    <div class="main-header" id="header">
        <div class="logo">
            <a href="/">
                <img src="/img/pochita.svg" alt="">
            </a>
        </div>

        <i class="fas fa-bars burguer-menu-icon" onclick="dropMenu()"></i>

        <!-- Menú de navegación mobile -->
        <nav class="navigation-bar" id="navigation-bar-mobile">

            <div class="user-icons-mobile">
                <i class="fas fa-user"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>


            <!-- Lista con los elementos del menú (categorías) -->
            <ul class="menu">
                <div class="user">
                     <% if (typeof session.user != "undefined") { %>
                    <span class="session"></span>
                    <div class="menu-user">
                        <a href="/users/profile">Mis datos</a>
                        <a href="/users/logout">Cerrar sesión</a>
                        <% if (session.user.rol === 1) { %>
                            <a href="/admin">Admin</a>
                        <% } %>
                    </div>
                    <% } else {%>
                    <a href="/users/login">Iniciar sesion</a>
                    <a href="/users/register">Registrarse</a>
                    <% } %>
                </div>

                <li class="dropdown-menu" onclick="dropSubCategoryMenu(`colec`)">
                    Coleccionables
                    <i class="fa-solid fa-angle-right"></i>
                </li>
                <li class="dropdown-menu" onclick="dropSubCategoryMenu(`tazas`)">
                    Tazas
                    <i class="fa-solid fa-angle-right"></i>
                </li>
                <li class="dropdown-menu" onclick="dropSubCategoryMenu(`lamparas`)">
                    Lamparas
                    <i class="fa-solid fa-angle-right"></i>
                </li>
                <li class="dropdown-menu" onclick="dropSubCategoryMenu(`figuras`)">
                    Figuras
                    <i class="fa-solid fa-angle-right"></i>
                </li>
                <li class="dropdown-menu" onclick="dropSubCategoryMenu(`ayuda`)">
                    Ayuda
                    <i class="fa-solid fa-angle-right"></i>
                </li>
                
            </ul>
        </nav>


        <!-- Icono del buscador en header mobile -->

        <!-- <button class="switch" id="switch">
            <span><i class="fas fa-sun"></i></span>
            <span><i class="fas fa-moon"></i></span>
        </button> -->
        
        <div class="search-icon" onclick="dropSearch()">
            <i class="fas fa-search"></i>
        </div>

        <!-- Buscador escritorio -->

        <form action="/products/search" method="GET" class="search-form-desktop">
            <div class="search-bar">
                <input type="search" name="keywords" placeholder="¿Que estas buscando?" id="buscador">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>


        <!-- Iconos de usuario escritorio -->
        <div class="user-icons-desktop">
            <div class="user">
                <% if (typeof session.user != "undefined") { %>
                <i class="fas fa-user"><span>Cuenta</span></i><span class="session"></span>
                <div class="menu-user">
                    <% if (session.user.rol === 1) { %>
                    <a href="/admin">Admin</a>
                    <% } %>
                    <a class="sesion-datos" href="/users/profile">Mis datos</a>
                    <a class="sesion-datos" href="/users/logout">Cerrar sesión</a>
                </div>
                <% } else {%>
                <a href="/users/login"><i class="fas fa-user"><span>Cuenta</span></i></a>
                <% } %>
            </div>

            <a href="/products/productcart"><i class="fas fa-shopping-cart"><span>Carrito</span></i></a>

            <!-- Boton modo oscuro -->
            <button class="switch" id="switch">
                <span><i class="fas fa-sun"></i></span>
                <span><i class="fas fa-moon"></i></span>
            </button>
            
        </div>

    </div>
    <!-- Menú de navegación desktop -->
    <nav class="navigation-bar" id="navigation-bar-desktop">

        <!-- Lista con los elementos del menú (categorías) -->
        <ul class="menu">
            <li class="dropdown-menu">
                COLECCIONABLES
                <i class="fas fa-chevron-down"></i>
                <div class="desplegable">
                    <a href="/products/subcategory/1/1">Funkos Pop</a>
                    <a href="/products/subcategory/2/1">Peliculas y series</a>
                    <a href="/products/subcategory/3/1">Anime</a>
                    <a href="/products/subcategory/4/1">Marvel</a>
                    <a href="/products/subcategory/5/1">Dc</a>
                    <a href="/products/subcategory/6/1">Videojuegos</a>
                </div>
            </li>
            <li class="dropdown-menu">
                TAZAS
                <i class="fas fa-chevron-down"></i>
                <div class="desplegable">

                    <a href="/products/subcategory/7/2">Dc</a>
                    <a href="/products/subcategory/8/2">Marvel</a>
                    <a href="/products/subcategory/9/2">Videojuegos</a>
                    <a href="/products/subcategory/10/2">Boku no hero</a>
                    <a href="/products/subcategory/11/2">Naruto</a>
                    <a href="/products/subcategory/13/2">Peliculas y series</a>

                </div>
            </li>
            <li class="dropdown-menu">
                LAMPARAS
                <i class="fas fa-chevron-down"></i>
                <div class="desplegable">

                    <a href="/products/subcategory/14/3">Star wars</a>
                    <a href="/products/subcategory/15/3">Anime</a>
                    <a href="/products/subcategory/16/3">Videojuegos</a>
                    <a href="/products/subcategory/17/3">Naruto</a>
                    <a href="/products/subcategory/18/3">Harry potter</a>
                    <a href="/products/subcategory/19/3">Shingeki no kyojin</a>
                    <a href="/products/subcategory/20/3">Marvel</a>
                    <a href="/products/subcategory/21/3">Dc</a>

                </div>
            </li>
            <li class="dropdown-menu">
                FIGURAS
                <i class="fas fa-chevron-down"></i>
                <div class="desplegable">

                    <a href="/products/subcategory/22/4">Peliculas y series</a>
                    <a href="/products/subcategory/23/4">Dragon ball Z</a>
                    <a href="/products/subcategory/24/4">Marvel</a>
                    <a href="/products/subcategory/25/4">Dc</a>
                    <a href="/products/subcategory/26/4">Videojuegos</a>
                    <a href="/products/subcategory/27/4">Naruto</a>
                    <a href="/products/subcategory/28/4">Kimetsu no yaiba</a>
                    <a href="/products/subcategory/29/4">Boku no hero</a>

                </div>
            </li>
            <li><a href="">Ayuda</a></li>
        </ul>
    </nav>
    <nav class="nav_menu">

        <!-- Buscador Mobile -->

        <form action="/products/search" method="GET" class="search-form-mobile" id="search">
            <div class="search-bar">
                <input type="search" name="keywords" placeholder="¿Que estas buscando?">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>

        <!-- Subcategorias desplegables -->

        <div class="subcategory_menu" id="colec">
            <div class="boton-close">
                <a href="javascript:void(0)" class="closebtn" onclick="closeWindow()">&times;</a>
                <div class="subcategory_header">
                    <a class="menu" href="">Coleccionables</a>
                </div>
            </div>
           
            <ul>
                <li><a href="">Subcategoria</a></li>
                <li><a href="">Subcategoria</a></li>
                <li><a href="">Subcategoria</a></li>
            </ul>
        </div>

        <div class="subcategory_menu" id="tazas">
            <div class="boton-close">
                <a href="javascript:void(0)" class="closebtn" onclick="closeWindow()">&times;</a>
                <div class="subcategory_header">
                    <a class="menu" href="">Tazas</a>
                </div>
            </div>
            <ul>
                <li><a href="">Subcategoria</a></li>
                <li><a href="">Subcategoria</a></li>
                <li><a href="">Subcategoria</a></li>
            </ul>
        </div>

        <div class="subcategory_menu" id="lamparas">
            <div class="boton-close">
                <a href="javascript:void(0)" class="closebtn" onclick="closeWindow()">&times;</a>
                <div class="subcategory_header">
                    <a class="menu" href="">Lamparas</a>
                </div>
            </div>
            <ul>
                <li><a href="">Subcategoria</a></li>
                <li><a href="">Subcategoria</a></li>
                <li><a href="">Subcategoria</a></li>
            </ul>
        </div>

        <div class="subcategory_menu" id="figuras">
            <div class="boton-close">
                <a href="javascript:void(0)" class="closebtn" onclick="closeWindow()">&times;</a>
                <div class="subcategory_header">
                    <a class="menu" href="">Figuras</a>
                </div>
            </div>
            <ul>
                <li><a href="">Subcategoria</a></li>
                <li><a href="">Subcategoria</a></li>
                <li><a href="">Subcategoria</a></li>
            </ul>
        </div>

        <div class="subcategory_menu" id="ayuda">
            <div class="boton-close">
                <a href="javascript:void(0)" class="closebtn" onclick="closeWindow()">&times;</a>
                <div class="subcategory_header">
                    <a class="menu" href="">Ayuda</a>
                </div>
            </div>
            <ul>
                <li><a href="/sucursales">Sucursales</a></li>
                <li><a href="/comocomprar">Como Comprar</a></li>
                <li><a href="/terms">Terminos y Condiciones</a></li>
            </ul>
        </div>

    </nav>
</header>
<script src="/js/header.js"></script>
<script src="/js/search.js"></script>    