<header class="header-admin">
    <div class="container-header-admin">
        <div class="container-header-top-admin">
            <div class="menu-admin">
                <button class="burguer-menu-admin">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="logo-admin">
                <a href="/">
                    <img src="/img/pochita.svg" width="100" alt="Pochi tama store">
                </a>
            </div>
            <div class="search-bar-admin">
                <input type="" placeholder="¿Que estas buscando?">
                <div class="boton-admin">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            
            <div class="nav-bar-admin">
                <ul class="top-list-admin">
                    <div class="inicio-admin"><li><i class="fas fa-envelope"></i><a href="#"><label>Inicio</label></a></li></div>
                    <div class="cuenta-admin"><li><i class="fas fa-user"></i><a href="#"><label>Cuenta</label></a></li></div>
                    <div class="carrito-admin"><li><i class="fas fa-shopping-cart"></i><a href="#"><label>Carrito</label></a></li></div>
                </ul>
            </div>
        </div>
        <div class="container-header-bot-admin">
            <div class="nav-bar-admin2">
                <ul class="bot-list-admin">
                    <li><a href="#">Editar o eliminar</a></li>
                    <li><a href="#">Stock</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>