<section class="info">
    <div class="container-info">

        <div class="tarjeta-truck">
            <div class="tarjeta">
                <div class="icon-tarjeta">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="text">
                    <p>Envios a todo el pais</p>
                    <label>Por correo Argentino</label>
                </div>
            </div>
        </div>

        <div class="tarjeta-shield">
            <div class="tarjeta">
                <div class="icon-tarjeta">
                    <i class="fas fa-shield-alt"></i>
                </div>
                <div class="text">
                    <p>Sitio seguro</p>
                    <label>Protegemos tus datos</label>
                </div>
            </div>
        </div>

        <div class="tarjeta-card">
            <div class="tarjeta">
                <div class="icon-tarjeta">
                    <i class="fas fa-credit-card"></i>
                </div>
                <div class="text">
                    <p>Paga con tarjeta de credito</p>
                    <label>Hasta en 12 cuotas</label>
                </div>
            </div>
        </div>

</section>