<div class="cont-princ-slider">
    <div class="slier-prin">
      <div class="juegos_DWG"><img src="/img/marcas/DC.png" alt=""></div>
      <div class="juegos_DWG"><img src="/img/marcas/DISNEY.png" alt=""></div>
      <div class="juegos_DWG"><img src="/img/marcas/dragon-ball-z.png" alt=""></div>
      <div class="juegos_DWG"><img src="/img/marcas/harry-potter.png" alt=""></div>
      <div class="juegos_DWG"><img src="/img/marcas/Pokemon.png" alt=""></div>
      <div class="juegos_DWG"><img src="/img/marcas/star-wars.png" alt=""></div>
    </div>
  </div>