<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/headerAdmin.ejs')  %> 
<main class="admin-stock">

    <form action="">
        <div class="datos-admin">
            
         <div class="cajita-datos-1"> 
             <div class="mini-cajita">
                 <p>Si</p>
                 <p>No</p>
                 <p>Puede ser</p>
             </div>
         </div>
         <div class="cajita-datos-1"> 
            <div class="mini-cajita">
                <p>Si</p>
                <p>No</p>
                <p>Puede ser</p>
            </div>
        </div>
        <div class="cajita-datos-1"> 
            <div class="mini-cajita">
                <p>Si</p>
                <p>No</p>
                <p>Puede ser</p>
            </div>
        </div>
        </div>
        <div>
            <table class="tabla-admin">
                    <tr class="categorias-tablita">
                     <th>Id</th>
                     <th>Nombre</th>
                     <th>Categoria</th>
                     <th>Subcategoria</th>
                     <th>Stock</th>
                     <th>Acciones</th>
                    </tr>
                    <tr class="items-tablita">
                     <th><p>1</p></th>
                     <td>Buenas noches pun pun</td>
                     <th>Comics/Manga</th>
                     <td>Manga</td>
                     <th>6</th>
                     <th>
                        <i class="fas fa-plus-square"></i>
                        <i class="fas fa-trash-alt"></i>
                        <i class="fas fa-edit"></i>
                     </th>
                    </tr>
                    <tr class="items-tablita">
                        <th><p>1</p></th>
                        <td>Buenas noches pun pun</td>
                        <th>Comics/Manga</th>
                        <td>Manga</td>
                        <th>6</th>
                        <th>
                           <i class="fas fa-plus-square"></i>
                           <i class="fas fa-trash-alt"></i>
                           <i class="fas fa-edit"></i>
                        </th>
                       </tr>
            </table>
        </div>
       
    </form>
   
  </main>
  <%- include('./partials/footer.ejs')  %>
</body>
</html>