<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs')  %> 

<body class="body-header">

    <%- include('./partials/header.ejs')  %> 
    
    <main class="main">
        <div class="main-container">

            <!-- ESTE "CARROUSEL ES SOLO PARA RELLENAR YA QUE NO DIO TIEMPO DE IMPLEMENTAR UNO FUNCIONAL, 
                 POR LO TANTO NO ME MOLESTE EN HACER QUE LA IMAGEN SE ADAPTE A LAS PANTALLAS. PROXIMAMENTE SE IMPLEMENTARA     " -->
            <div class="container-carrousel">
                <div class="carrousel">
                    <img src="/img/carrousel/carrousel.jpg" alt="">
                </div>

            </div>
            
            <div class="titulo">
                <h5>PRODUCTOS</h5>
            </div>
            <hr class="hr1">
            
            <section class="section-productos">
                
                <article class="productos-primary">
                    <div class="caja">
                        <div>
                            <a href=""><img src="/img/imagenes home/araña.jpg" alt=""></a>
                        </div>   
                    </div>
                    <h4><a href="/">Comics y Manga</a></h4>
                </article>
                
                <article class="productos-primary">
                    <div class="caja">
                        <div>
                            <a href=""><img src="/img/imagenes home/iron.jpg" alt=""></a>
                        </div>   
                    </div>
                    <h4><a href="/">Tazas</a></h4>
                </article>
                
                <article class="productos-primary">
                    <div class="caja">
                        <div>
                            <a href=""><img src="/img/imagenes home/remera.png" alt=""></a>
                        </div>   
                    </div>
                    <h4><a href="/">Remeras</a></h4>
                </article>
                
                <article class="productos-primary">
                    <div class="caja">
                        <div>
                            <a href=""><img src="/img/imagenes home/perro.jpg" alt=""></a>
                        </div>   
                    </div>
                    <h4><a href="/">Disfrazes</a></h4>
                </article>
                
                <article class="productos-primary">
                    <div class="caja">
                        <div>
                            <a href=""><img src="/img/imagenes home/god.jpg" alt=""></a>
                        </div>   
                    </div>
                    <h4><a href="/">Videojuegos</a></h4>
                </article>
                
                <article class="productos-primary">
                    <div class="caja">
                        <div>
                            <a href=""><img src="/img/imagenes home/vegete.jpg" alt=""></a>
                        </div>   
                    </div>
                    <h4><a href="/">Funko Pop!</a></h4>
                </article>
            </section>
            
            <div class="titulo">
                <h5>LO MAS VENDIDO</h5>
            </div>
            <hr class="hr1">
            
            
            <section class="section-vendido">
                
                <article class="producto">
                    <div class="caja">
                        <div>
                            <a href=""><img src="/img/imagenes home/duendefeo.jpg" alt=""></a>
                        </div>   
                    </div>
                    <div class="parrafo">
                        <p>Lampara de Baby yoda</p>
                    </div>
                    <h4>$ 2,500.00</h4>
                    <div class="botones">
                        <button class="buy"> 
                            <span>Comprar</span>
                        </button>
                        <button class="see">
                            <span>Ver</span>
                        </button>
                    </div>
                </article>
                
                <article class="producto">
                    <div class="caja">
                        <div>
                            <a href=""><img src="/img/imagenes home/replica.jpg" alt=""></a>
                        </div>   
                    </div>
                    <div class="parrafo">
                        <p>Guantele del Infinito</p>
                    </div>
                    <h4>$ 3,990.00</h4>
                    <div class="botones">
                        <button class="buy"> 
                            <span>Comprar</span>
                        </button>
                        <button class="see">
                            <span>Ver</span>
                        </button>
                    </div>
                </article>
                
                <article class="producto">
                    <div class="caja">
                        <div>
                            <a href=""><img src="/img/imagenes home/thor.jpg" alt=""></a>
                        </div>   
                    </div>
                    <div class="parrafo">
                        <p>Stormbreaker de Thor</p>
                    </div>
                    <h4>$ 5,000.00</h4>
                    <div class="botones">
                        <button class="buy"> 
                            <span>Comprar</span>
                        </button>
                        <button class="see">
                            <span>Ver</span>
                        </button>
                    </div>
                </article>
                
                <article class="producto">
                    <div class="caja">
                        <div>
                            <a href=""><img src="/img/imagenes home/bobba.jpg" alt=""></a>
                        </div>   
                    </div>
                    <div class="parrafo">
                        <p>Casco de Boba fett</p>
                    </div>
                    <h4>$ 3,299.00</h4>
                    <div class="botones">
                        <button class="buy"> 
                            <span>Comprar</span>
                        </button>
                        <button class="see">
                            <span>Ver</span>
                        </button>
                    </div>
                </article>
                
                <article class="producto">
                    <div class="caja">
                        <div>
                            <a href=""><img src="/img/imagenes home/halo.jpg" alt=""></a>
                        </div>   
                    </div>
                    <div class="parrafo">
                        <p>Traje Realista Master Chief</p>
                    </div>
                    <h4>$ 9,500.00</h4>
                    <div class="botones">
                        <button class="buy"> 
                            <span>Comprar</span>
                        </button>
                        <button class="see">
                            <span>Ver</span>
                        </button>
                    </div>
                </article>
                
                <article class="producto">
                    <div class="caja">
                        <div>
                            <a href=""><img src="/img/imagenes home/artorias.jpg" alt=""></a>
                        </div>   
                    </div>
                    <div class="parrafo">
                        <p>Figura de artorias del abismo</p>
                    </div>
                    <h4>$ 2,200.00</h4>
                    <div class="botones">
                        <button class="buy"> 
                            <span>Comprar</span>
                        </button>
                        <button class="see">
                            <span>Ver</span>
                        </button>
                    </div>
                </article>
                
            </section>
            
            <div class="boton-productos">
                <a href=""><h4>VER TODOS LOS PRODUCTOS</h4></a>
            </div>
            
            <section class="zonas">
                
                <article class="item card-bg marvel">
                    <img src="/img/zonas/marvel.jpg" alt="">                
                    <div class="card-data">
                        <h2>ZONA MARVEL</h2>
                    </div>
                </article>
                
                <article class="item card-bg dc">
                    <img src="/img/zonas/dc.jpg" alt="">                
                    <div class="card-data">
                        <h2>ZONA DC</h2>
                    </div>
                </article>
                
                <article class="item card-bg anime">
                    <img src="/img/zonas/anime.jpg" alt="">                
                    <div class="card-data">
                        <h2>ZONA ANIME</h2>
                    </div>
                </article>
                
            </section>        
        </div>
    </main>
    
    <section class="info">
        <div class="container-info">
            
            <div class="tarjeta-truck">
                <div class="tarjeta">
                    <div class="icon-tarjeta">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="text">
                        <p>Envios a todo el pais</p>
                        <label>Por correo Argentino</label>
                    </div>
                </div>
            </div>
            
            <div class="tarjeta-shield">
                <div class="tarjeta">
                    <div class="icon-tarjeta">
                        <i class="fas fa-shield-alt"></i>
                    </div>
                    <div class="text">
                        <p>Envios a todo el pais</p>
                        <label>Por correo Argentino</label>
                    </div>
                </div>
            </div>
            
            <div class="tarjeta-card">
                <div class="tarjeta">
                    <div class="icon-tarjeta">
                        <i class="fas fa-credit-card"></i>
                    </div>
                    <div class="text">
                        <p>Envios a todo el pais</p>
                        <label>Por correo Argentino</label>
                    </div>
                </div>
            </div>
            
        </section>
        
        <%- include('./partials/footer.ejs')  %> 
    </body>
    </html>
