<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs')  %> 

<body>
    <%- include('./partials/headerAdmin.ejs')  %> 
    <main class="admin-main">
        <br>
        <h1 class="edit-product">Editar productos</h1>
        <br>
        <hr style="border: 1px dashed rgba(100, 68, 241, 0.651); height: 0; width: 100%">
       <div class="carga-product">
        
           <div class="category-product">
            <h1 class="admin-1-titulo">Agregar</h1>
                 <div class="bars">
                    <div class="sub-category"><input list="sub-category" name="" id="" placeholder="Elige la categoria"><datalist id="sub-category">
                        <option value="Figuras">
                        <option value="Comics/Mangas">
                        <option value="Indumentaria/Disfraces">
                        <option value="Videojuegos">
                        <option value="Peliculas">
                        
                      </datalist>
                        <input list="categorias" name="" id="" placeholder="Producto"> 
                    </div>
                           <div class="categoria2">
                               <input list="sub-category2" name="" id="" placeholder="Elija Subcategoria" >
                            <datalist id="sub-category2">
                                <option value="Manga">
                                <option value="Comics">
                                <option value="Marvel">
                                <option value="DC">
                                <option value="Otro">
                                
                              </datalist>
                            <input type="text" name="" id="" placeholder="Cantidad"></div>
                 </div>
           </div>
           <div class="img-agregar"><p>Agregar archivo de imagen</p>
            <hr>
        <input type="file">
    </div>
       </div>
       <div class="caja-descripciones">
        <h1 class="admin-2-titulo">Descripcion del producto</h1>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        
    </div> 
    <div >
        <p class="precio-admin">Precio $:</p>
    <input type="text" class="text-precio-admin">
    </div>
      </main>
      <%- include('./partials/footer.ejs')  %>

</body>
</html>