<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs')  %>

<body>
    <%- include('./partials/headerAdmin.ejs')  %>
    <main class="admin-main">
        <form action="/products/create" method="post">

            <input type="text" name="name" placeholder="nombre">
            <input type="text" name="price" placeholder="precio">
            <input type="text" name="discount" placeholder="descuento">
            <button><a href="../admin/productedit/">Editar</a></button>

<button type="submit">enviar</button>

          <!--   <h1 class="carga">Crear productos</h1>
            <div class="carga-product">

                <div class="category-product">
                    <h1 class="admin-title-1">Agregar</h1>
                    <div class="barras">
                        <div class="sub-category"><input list="sub-category" name="" id=""
                                placeholder="Elige la categoria"><datalist id="sub-category">
                                <option value="Figuras">
                                <option value="Comics/Mangas">
                                <option value="Indumentaria/Disfraces">
                                <option value="Videojuegos">
                                <option value="Peliculas">

                            </datalist>
                            <input type="text" list="categorias" name="name" id="name" placeholder="nombre">
                        </div>
                        <div class="sub-category2">
                            <input list="sub-category2" name="" id="" placeholder="Elija Subcategoria">
                            <datalist id="sub-category2">
                                <option value="Manga">
                                <option value="Comics">
                                <option value="Marvel">
                                <option value="DC">
                                <option value="Otro">

                            </datalist>
                            <input type="number" name="discount" id="discount" placeholder="descuento"></div>
                        <input type="number" name="price" id="price" placeholder="precio">
                    </div>

                    <button type="submit">CLICK</button>
                </div>

            </div>
            <div class="img-charge">
                <p>Agregar archivo de imagen</p>
                <hr>
                <input type="file">
            </div>
            </div>
            <div class="box-description">
                <h1 class="admin-title-2">Descripcion del producto</h1>
                <textarea name="" id="" cols="30" rows="10"></textarea>

            </div>
            <div class="price">
                <p>Precio $:</p>
                <input type="text">
            </div> -->
        </form>
    </main>
    <%- include('./partials/footer.ejs')  %>

</body>

</html>