<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs')  %>

<body>

    <%- include('./partials/headerAdmin.ejs')  %> 

    <body class="admin">
        <div class="form-container-admin">
            <h2>Formulario de Creacion de producto</h2>
            <form action="/admin/create" method="post">
                <div class="form-admin">
                    <div class="input-admin">
                        <label for="name">Nombre del Producto</label>
                        <input class="input-style-admin" type="text" name="name" placeholder="Ej: Guante del infinito">
                        <span class="error-message">Debes ingresar el nombre del producto</span>
                    </div>
                    <div class="input-admin">
                        <label for="price">Precio del producto</label>
                        <input class="input-style-admin" type="text" name="price" placeholder="Ej: 3000">
                        <span class="error-message">Debes ingresar un precio</span>
                    </div>
                    <div class="input-admin">
                        <label for="discount">Descuento</label>
                        <input class="input-style-admin" type="text" name="discount" placeholder="Ej: 50">
                        <span class="error-message">Debes ingresar el descuento</span>
                    </div>
                    <div class="input-admin description">
                        <label for="description">Descripcion</label>
                        <textarea class="description" name="description" id="description"></textarea>
                        <span class="error-message">Debes ingresar una descripcion</span>
                    </div>

                    <div class="container-file">
                        <i class="fas fa-upload"></i>
                        <p>Ingrese una Imagen</p>
                        <input type="file" name="image" id="" value="">
                    </div>
                    <span class="error-image">Debe ingresar una imagen</span>
                   
                    <div class="button-admin">
                        <span class="error-message">Hubo errores en el envío</span>
                        <button type="submit" class="btn btn-submit">Crear Producto</button>
                    </div>
            
                </div>
                
            </form>
        </div>
        
    </body>

</body>

</html>