<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>

    <div class="como-comprar">
        <ul class="atajos">
            <li><a href="/" class="inicio">Inicio</a></li>
            <li>/</li>
            <li><a href="">Terminos y Condiciones</a></li>
        </ul>
        <div class="container-como">
            <h1>Terminos y Condiciones</h1>
        </div>
        <section class="lista">
            <ul>
                <li>
                    <h3>1_ACEPTACIÓN DE TERMINOS Y CONDICIONES</h3>
                    <p>El presente sitio web "http://www. https://www.pochi-tama-store.com.ar/" (en adelante, el "SITIO") es propiedad de PREMIUM MPM S.A. (en adelante POCHI-TAMA-STORE) con domicilio en la Av. CABILDO 4202, CABA, CUIT N°30-71134172-9. A continuación se describen los términos y condiciones generales para la utilización del SITIO (en adelante los “Términos y Condiciones”), que regirán los derechos y obligaciones entre cada usuario (en adelante, los “USUARIOS” y/o el "USUARIO”) y PREMIUM MPM S.A..</p>
                    <p>La utilización del SITIO y/o cualquiera de los servicios aquí ofrecidos implica el conocimiento y la plena aceptación por parte del USUARIO de los Términos y Condiciones descriptos en el presente documento. En caso de no aceptar los presentes Términos y Condiciones, el USUARIO deberá abstenerse de utilizar el SITIO.</p>
                    <p>Durante los procesos de compra y/o registración en el SITIO se solicitará al USUARIO la aceptación expresa de los Términos y Condiciones vigentes para poder completar cualquier operación.</p>
                    <p>PREMIUM MPM SA se reserva el derecho de realizar en cualquier momento cambios en el SITIO, y/o en los Términos y Condiciones mediante la simple modificación de dichos Términos y Condiciones. Dicha modificación será efectiva en forma inmediata a partir de su publicación en el SITIO. Asimismo, PREMIUM MPM SA se reserva el derecho de interrumpir en cualquier momento el funcionamiento del SITIO, en forma transitoria o definitiva, y sin necesidad de intervención y/o conformidad de los mismos.</p>
                </li>

                <li>
                    <h3>2_USO DE IMAGENES Y MARCAS</h3>
                    <p>Todas las imágenes y marcas registradas dentro del SITIO son propiedad intelectual de su titular. y el ingreso al SITIO no significa autorización o cesión de uso al USUARIO sobre las marcas.</p>
                </li>

                <li>
                    <h3>3_DATOS PERSONALES</h3>
                    <p>POCHI-TAMA-STORE solicitará una serie de datos a todos los usuarios registrados que deseen realizar una compra, los cuales pueden variar dependiendo de la operación a realizar. Los datos básicos a solicitar serán:</p>
                    <span>- Nombre y apellido</span>
                    <span>- Razón social (de corresponder).</span>
                    <span>- Domicilio completo.</span>
                    <span>- Código postal.</span>
                    <span>- País.</span>
                    <span>- DNI.</span>
                    <span>- CUIT.</span>
                    <span>- E-mail</span>
                    <span>- Perfiles en redes sociales</span>
                    <p>Pochi-tama-store podrá suspender o eliminar sin explicación alguna cualquier cuenta y/o operación que no tenga dichos datos y se vea imposibilitado a realizar el cumplimiento de las órdenes a dichos visitantes y/o usuarios registrados a los cuales no se le puedan verificar sus datos via mensajes dentro del sitio web, e-mail u teléfono.</p>
                    <p>Todos los usuarios registrados contaran con un nombre de usuario y contraseña de uso estrictamente personal concretar operaciones en el sitio web de Pochi-tama-store.</p>
                    <p>Pochi-tama-store se compromete legalmente a mantener toda información brindada de forma confidencial.</p>
                    <p>La protección de datos personales y privados se ajusta a las disposiciones legales aplicables en la República Argentina.</p>
                    <p>Los USUARIOS registrados que completen los datos, aceptan recibir e-mails informativos sobre las novedades de POCHI-TAMA-STORE</p>
                </li>

                <li>
                    <h3>4_MODIFICACIÓN DE DATOS PERSONALES</h3>
                    <p>El visitante, una vez registrado, podrá modificar la información proporcionada a Pochi-tama-store. En el único momento que el usuario NO podrá modificar sus datos personales, cambio de domicilio, teléfono, email o datos de facturación es cuando haya realizado una compra y dicho producto ya esté en proceso de ser enviado. Las operaciones son finales, tanto con sus datos de envío como compra final. No podrá ser cancelada por el USUARIO. En el caso que Pochi-tama-store, luego de realizada la compra por el USUARIO, identificare que no cuenta con el producto solicitado, podrá cancelar la compra con la única obligación de proceder al reintegro total del monto abonado por el USUARIO.</p>
                    <p>En caso de tener dudas con como modificar sus datos en el sitio web de Pochi-tama-store, podrán enviar un mail a info@Pochi-tama-store.com.ar</p>
                </li>

                <li>
                    <h3>5_PRECIOS Y FORMAS DE PAGO.</h3>
                    <p>Todos nuestros productos, junto a las ofertas/promociones, de Pochi-tama-store se encuentran sujetos a la disponibilidad física de los Productos en el stock informado por Pochi-tama-store. De este modo aclaramos que, en el posible escenario donde un USUARIO realice la compra de un producto que luego se verificase que el mismo se encuentra fuera de stock, Pochi-tama-store procederá inmediatamente al reintegro total del monto abonado por el USUARIO.</p>
                    <p>Todos nuestros precios son finales en pesos argentinos e incluyen IVA.</p>
                    <p>Se podrá solicitar factura A o B, conforme a la solicitud del cliente a la hora de realizar la compra. Una vez realizada la compra en nuestro sitio, el visitante/usuario registrado, recibirá su Factura por correo electrónico.</p>
                    <p>Todos nuestros precios son válidos exclusivamente para la República Argentina.</p>
                    <p>Los precios expresados en nuestro sitio NO incluyen costo de envío el que deberá ser abonado por el USUARIO, salvo que el SITIO expresamente indique lo contrario para algún producto o como resultado de una promoción que incluya envío gratuito.</p>
                    <p>Solo aceptamos las formas de pago indicadas en el SITIO al momento de efectuar la compra. Pochi-tama-store se reserva el derecho de modificar los métodos de pago posibles en cualquier momento. Los productos deben ser abonados en su totalidad antes de ser retirados o despachados de nuestro local.</p>
                    <p>Todas las compran tendrán un plazo máximo de 24 hs para ser abonadas. Al expirarse dicho plazo, la orden será cancelada devolviendo el producto al stock de Pochi-tama-store a efectos de ser nuevamente ofrecido en el SITIO.</p>
                    <p>Salvo que se indicare lo contrario, en ningún caso las promociones, ofertas serán acumulables. Cada promoción, descuento, posibilidad de financiación y oferta se regirá por las condiciones y plazo de vigencia indicados en el SITIO siendo estricta facultad de Pochi-tama-store incorporar y/o anular una promoción y/u oferta.</p>
                </li>

                <li>
                    <h3>6 - CONDICIÓN DE LOS PRODUCTOS</h3>
                    <p>Todos nuestros productos son nuevos y cuentan con la garantía legal correspondiente.</p>
                    <p>El stock de los productos es el informado en el SITIO. Es posible que solo haya 1 (una) unidad disponible y que la misma se encuentre exhibida en un local. Sólo se exhiben los productos que se puedan retirar de su empaque y que el mismo no sea dañado a la hora de retirarlos. Esto no lo hace usado ni modifica su valor.</p>
                    <p>Si bien los productos ofrecidos en el SITIO coinciden con su descripción, es posible que el USUARIO al recibirlo pueda notar ciertas diferencias con la imagen expuesta en el SITIO debido a estrictas cuestiones de percepción tales como leves diferencias en la tonalidad de un color. En tal caso el USUARIO podrá devolver el Producto sin cargo con la única obligación de hacerlo en las mismas condiciones de uso y empaque en que lo hubiera recibido.</p>
                </li>

                <li>
                    <h3>7 - POLÍTICAS DE VENTA</h3>
                    <p>Revisión de los productos antes de ser enviados.</p>
                    <p>Todos los productos serán verificados previamente a su envío para asegurar que hayan salido en óptimas condiciones hacia el domicilio del USUARIO.</p>
                    <p>Los productos en caso de haber estado exhibidos en las vitrinas de nuestro local, serán guardados nuevamente en su caja junto con todos sus accesorios confirmando que se encuentren en perfectas condiciones.</p>
                    <p>Todos los productos que estén fuera de su caja o que se puedan verificar antes de ser enviados, son aquellos que su empaque no sufra daños al ser abierto.</p>
                </li>

                <li>
                    <h3>8 - POLÍTICAS DE ENVIO</h3>
                    <p>A. - Pochi-tama-store una vez recibida la compra del USUARIO, despachará la orden en el plazo informado en el SITIO.</p>
                    <p>Cuando el producto esté listo para retirar o despachar, el USUARIO recibirá un correo electrónico de info@Pochi-tama-store.com.ar  notificando que está listo.</p>
                    <p>B - Los USUARIOS registrados podrán elegir entre los métodos de envío que ofrezca el SITIO o retiro de sus productos. Todos los costos de envío deberán ser abonados previamente al despacho de la orden. Pick-Up en tienda no cuenta con cargo adicional sobre el producto.</p>
                </li>

                <li>
                    <h3>9 - POLITICAS DE DEVOLUCION Y REEMPLAZO</h3>
                    <p>Será de estricta aplicación lo dispuesto en la Normativa de Defensa del Consumidor.</p>
                    <p>A - Tiempo para informar el arribo de un producto dañado.</p>
                    <p>Los USUARIOS puedan solicitar el cambio de un producto o bien requerir la devolución del dinero abonado en caso que el mismo tenga un defecto de fábrica previa verificación y constatación de la falla preferentemente dentro de los 10 (diez) días corridos luego de recibido.</p>
                    <p>B - Ticket para cambio</p>
                    <p>El USUARIO deberá conservar el ticket/factura de la compra para poder efectuar el cambio.</p>
                    <p>C - Cambio del producto</p>
                    <p>En caso que el producto haya arribado en malas condiciones, o simplemente desea cambiar el producto recibido por otro diferente, deberá notificar a Pochi-tama-store con un e-mail a info@Pochi-tama-store.com.ar detallando el problema, motivo, adjuntando foto y número de orden. Una vez realizado la notificación y confirmado por Pochi-tama-store el supuesto indicado, se procederá a coordinar el cambio del Producto.</p>
                    <p>El USUARIO registrado se hará cargo del costo de envío por el producto hasta las oficinas de Pochi-tama-store, siempre que el motivo del cambio no sea por desperfectos o fallas del producto, en cuyo caso correrán por cuenta de Pochi-tama-store.</p>
                    <p>Los costos de envío desde las oficinas de Pochi-tama-store al domicilio del USUARIO correrán siempre por cuenta de Pochi-tama-store, siempre y cuando el cambio se haya solicitado dentro de los plazos y requisitos indicados en los presentes términos y condiciones.</p>
                    <p>Cuando el cambio sea por un Producto de mayor valor el USUARIO deberá abonar la diferencia de precio. El producto que el USUARIO desee devolver deberá estar sin uso, en perfectas condiciones, con todas sus etiquetas, accesorios y empaques originales (incluyendo, a mero título enunciativo, los manuales, guías de uso, certificados de garantías, etc.) conjuntamente con una copia de la factura de compra o nota de regalo emitida.</p>
                    <p>Una vez que Pochi-tama-store sea informado a través del proveedor logístico respecto de la devolución del producto en los términos descriptos en el párrafo anterior, Pochi-tama-store procederá al envío de un nuevo producto. El plazo para el envío del nuevo producto, dependerá de la disponibilidad del mismo y será informado vía correo electrónico al USUARIO.</p>
                    <p>Si no hubiere disponibilidad del producto en cuestión debido a la falta de stock del mismo, a opción del USUARIO, el producto podrá ser sustituido por otro de similares características y valor. En caso de (a) inexistencia de un producto sustituto de similares características y/o valor o (b) de no aceptación por parte del USUARIO del producto ofrecido en reemplazo, el USUARIO podrá optar por: (i) solicitar la cancelación de la compra junto con el reintegro de la suma abonada; (ii) solicitar la cancelación de la compra y la aplicación del monto abonado a futuras compras en el SITIO; o (iii) aguardar la reposición de stock conforme la disponibilidad de Pochi-tama-store.</p>
                    <p>El USUARIO tiene el derecho a arrepentirse de la compra realizada durante un plazo de 10 (diez) días corridos contados desde la adquisición o entrega del bien, lo último que ocurra. Los gastos relativos al transporte del producto en caso de arrepentimiento o defectos cubiertos por la garantía dentro de los primeros 10 días corridos desde la entrega correrán por cuenta de Pochi-tama-store.</p>
                    <p>En caso que el USUARIO ejerza su derecho de arrepentimiento, Pochi-tama-store procederá a la emisión de una Nota de crédito siempre que el producto se encontrara acompañado de una copia de la factura de compra, manual de uso y todos sus accesorios en el mismo estado en que lo recibió y sin señales de uso y/o maltrato. La cancelación del pedido será realizada después del análisis del producto por Pochi-tama-store dentro de los 7 (siete) días hábiles posteriores a la fecha en el que el producto hubiere sido recibido nuevamente en las oficinas de Pochi-tama-store. La restitución del valor abonado por la compra por el USUARIO se realizará utilizando la misma forma de pago escogida en el proceso de compra. Si el pago fue cursado por tarjeta de crédito se realizará un contracargo en la tarjeta de crédito y/o débito correspondiente al pago del producto, según la política de devolución de la administradora de la tarjeta utilizada.</p>
                </li>
            </ul>
        </section>
    </div>

    <button class="ancla" id="button-up"><i class="far fa-angle-up"></i></button>

    <%- include('./partials/infoEnvios.ejs') %>
    <%- include('./partials/footer.ejs') %>
    <script src="/js/scrollTop.js" defer></script>       

</body>
</html>