<!DOCTYPE html>
<html lang="es">


 <%- include('../partials/head.ejs')  %> 


<body class="body-header">
    
    <%- include('../partials/header.ejs')  %> 

    <main>

        <br>
        <div class="cart-buys-p">
             <p>CARRITO DE COMPRAS</p>
        </div>
        <br>
        <br>
        <hr>

        <div class="space-buys">
            <div>
                <article class="art-buys">
                    <div class="image-compra">
                        <img src="/img/duende/duende1.png" alt="" class="img-duende">
                        <div class="name-product1">
                            <p>Baby Yoda</p>
                        </div>
                        <div class="circulo-stock1">
                            stock
                        </div>
                        <div class="precio1">
                            <p>precio</p>   
                        </div>
                        <div class="preciofinal1">
                            <p>precio final</p>
                        </div>
                        <div>
                            <i class="fas fa-plus" id="sum-icon1" style="position: relative; left: 70px; top: 7px;"></i>
                            <input type="number" name="cantidad" id="cantidad" class="cuadrado-cantidad1">
                            <i class="fas fa-minus" id="min-icon1" style="position: relative; left: -5px; top: -40px;"></i>
                        </div>
                       
                    </div>
                </article>
                <br>
                <article class="art-buys">
                    <div class="image-compra">
                        <img src="/img/casco/casco3.jpg" alt="" class="img-casco">
                        <div class="name-product2">
                            <p>Casco Boba Fett</p>
                        </div>
                        <div class="circulo-stock2">
                            stock
                        </div>
                        <div class="precio2">
                            <p>precio</p>
                        </div>
                        <div class="preciofinal2">
                            <p>precio final</p>
                        </div>
                        <div>
                            <i class="fas fa-plus" id="sum-icon2" style="position: relative; left: 70px; top: 7px;"></i>
                            <input type="number" name="cantidad" id="cantidad" class="cuadrado-cantidad2">
                            <i class="fas fa-minus" id="min-icon2" style="position: relative; left: -5px; top: -40px;"></i>
                        </div>
                    </div>
                </article>
                <br>
                <article class="art-buys">
                    <div class="image-compra">
                        <img src="/img/productDetail/kirby-1.jpg" alt="" class="img-guante">
                        <div class="name-product3">
                            <p>kirby</p>
                        </div>
                        <div class="circulo-stock3">
                            stock
                        </div>
                        <div>
                            <p class="precio3">precio</p>
                            <p class="preciofinal3">precio final</p>
                        </div>
                        <div>
                            <i class="fas fa-plus" id="sum-icon3" style="position: relative; left: 70px; top: 7px;"></i>
                            <input type="number" name="cantidad" id="cantidad" class="cuadrado-cantidad3">
                            <i class="fas fa-minus" id="min-icon3" style="position: relative; left: -5px; top: -40px;"></i>
                        </div>
                    </div>
                </article>
                <br>
            </div>
            <article>
                <div class="cuadrado-buy">
                    <div>
                        <p class="precio4">precio</p>
                        <p class="preciofinal4">precio final</p>
                    </div>

                    <h4 class="objects-izq1">SUBTOTAL (sin envio):</h4>
                    <br>
                    <hr>

                    <h4>MEDIOS DE ENVIOS:</h4>
    
                    <input class="codigo-postal" type="number" name="codigo postal" id="codigo postal"
                        placeholder="Ingrese su codigo postal">
                    <button class="boton-calcular" name="button">CALCULAR</button>
                    <br>
                    <br>
                    <button class="boton-compra" name="button">
                        <p>Correo Argentino - Envio a domicilio</p>
                    </button>
                    <button class="boton-compra" name="button">
                        <p>Correo Argentino - Retiro sucursal</p>
                    </button>
                    <br>
                    <br>
                    <a href="https://www.correoargentino.com.ar/formularios/cpa" target="_blank" style="color:orange; opacity: 50%;">¿Cuál es mi código postal?</a>
                    <br>
                    <hr>
                    <h5 class="objects-izq2">TOTAL:</h5>
                    <button class="boton-compra" name="button">INICIAR COMPRA</button>
                    <a href="/" style="color:orange; opacity: 50%;">ver más productos</a>
                    <br>
                    <br>
                </div>
            </article>

        </div>
    </main>

    <%- include('../partials/footer.ejs')  %> 

</body>

</html>