<!DOCTYPE html>
<html lang="es">
<head>
        
        <%- include('../partials/head.ejs')  %> 
        
</head>
<body>
        
        <%- include('../partials/header.ejs')  %>    
        
        <div class="cart">
                <div class="container-cart">
                        <h2>Carrito de compras</h2>
                        
                        <form action="">
                                <div class="container-form">
                                        <section class="container-product">
                                                <div class="product-1">
                                                        <figure><a href=""><img src="/img/casco/casco1.png" alt=""></a></figure>
                                                </div> 
                                                <div class="detail">
                                                        <h3>Producto de prueba</h3>
                                                        <div class="container-cantidad">
                                                                <input type="number">
                                                        </div>
                                                        <div class="price-cart">
                                                                <span>10.000</span>             
                                                        </div>
                                                        <div class="button-trash">
                                                                <span><i class="fas fa-trash"></i></span>
                                                        </div>
                                                </div>
                                        </section>
                                        
                                        <section class="container-subtotal">
                                            <div class="subtotal">
                                                <span>Subtotal</span>
                                                <span>$ 5.000</span>
                                            </div>    
                                        </section>

                                        <section class="container-send">

                                             <div class="medios">
                                                <span><i class="fas fa-truck"></i></span>
                                                <span>Medios de envio</span>
                                             </div>  
                                             
                                             <div class="postal">
                                                <div class="input-postal">
                                                        <input type="number" name="" id="">
                                                </div>

                                                <div class="calcular">
                                                        <button>
                                                                <span>CALCULAR</span>
                                                        </button>
                                                </div>
                                             </div>

                                             <div class="no-se">
                                                     <a href="https://www.correoargentino.com.ar/formularios/cpa" target="_blank">No se mi codigo postal</a>
                                             </div>
                                             
                                        </section>
                                        
                                </div>
                        </form>
                </div>
                
        </div>
        
        <%- include('../partials/footer.ejs')  %> 
        
</body>
</html>