<!DOCTYPE html>
<html style="font-size:65%;" lang="es">
 
<%- include('../partials/head.ejs')  %>  

<body>
  <%- include('../partials/headerAdmin') %>
  
  <div class="container-fluid">
    <div class="row">

      <main class="panel-admin">
        <div 
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h2>Productos</h2>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <a href="/admin/product/create" class="btn btn-sm btn-outline-secondary">Agregar</a>
            </div>
          </div>
        </div>
        <div class="filtros col-12 d-flex flex-wrap" id="filter">
          <div class="col-12 my-1">
            <input type="text" name="name" placeholder="Name" id="name" class="form-control">
          </div>
          <div class="col-3 my-1">
            <select class="form-select" name="subcategory_id" aria-label="Default select example" id="">
              <option value="0" selected>Subcategory</option>
              <% subcategories.forEach(subcategory => { %>
               <option value="<%= subcategory.id %>">
                <%= subcategory.name %> 
               </option>
              <% }) %>
            </select>
          </div>
          <div class="col-3 my-1">
            <select class="form-select" name="orderDirect" aria-label="Default select example" id="">
              <option value="0" selected>Order By</option>
              <option value="ASC">Ascendente</option>
              <option value="DESC">Descendente</option>
            </select>
          </div>
        </div>
        <div class="table-responsive my-3">
          <section class="tablas">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Categoría</th>
                <th scope="col">Subcategoría</th>
                <th scope="col">Precio</th>
                <th scope="col">Descuento</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody id="container-result"></tbody>
          </table>
          <p id="msg-0" class="d-none text-center text-danger my-4">No se encontraron resultados</p>
        </div>

        <div class="col-12 d-flex justify-content-between align-items-center">

          <div class="col-2 size " id="size">
            <select class="form-select" name="size" aria-label="Default select example" id="">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
            </select>
          </div>

          <nav aria-label="..." class="">
            <ul class="pagination mb-0">
              <li class="page-item">
                <a href="" id="page_previous" class="page-link">Previous</a>
              </li>
              <li class="page-item">
                <a href="" id="page_next" class="page-link">Next</a>
              </li>
            </ul>
          </nav>

        </div>

        <template id="template">
          <tr>
            <td id="id"></td>
            <td id="name"></td>
            <td id="category"></td>
            <td id="subcategory"></td>
            <td id="price"></td>
            <td id="discount"></td>
            <td>
              <a href="" id="btn-edit" class="btn btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </a>
              <form action="" id="btn-delete" method="POST">
                <button type="submit" class="btn btn-danger">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
                </button>
              </form>
            </td>
          </tr>
        </template>
</section>
      </main>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
  
  <script src="/js/adminProducts.js"></script>
</body>
    
</body>
</html>


