<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')  %> 
<body>
    <%- include('../partials/header.ejs')  %> 

    

        <form action="/users/account/edit?_method=PUT" method="POST">
            
        </form>







    <%- include('../partials/footer.ejs')  %> 
</body>
</html>