@media  (min-width: 320px) {
    .edit-product {
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 700;
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
    }

    .admin-1-titulo {
        font-weight: 700;
        font-size: 18px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 12px;
        
    }
    .admin-main .carga-product .category-product .bars input {
        display: flex;
        justify-content: center;
        border-radius: 7px;
        margin-top: 5px;
        flex-direction: column;
        margin-left: -64px;
        border: solid 3px var(--purple2);
    }

    .categoria2 {
        display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin-left: 75px;
    }

    .admin-main .carga-product .img-agregar {
        border: solid 2px var(--purple2);
        border-radius: 12px;
        background-color: var(--orange2);
        width: 90%;
        height: 103px;
        margin-top: 20px;
        margin-left: 13px;
    }

    .admin-main .caja-descripciones .admin-2-titulo {
        font-weight: 700;
        margin-left: 28px;
        margin-bottom: 13px;
        margin-top: 13px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
    }
    
    .admin-main .caja-descripciones textarea {
        border-radius: 12px;
        width: 80%;
        height: 30px;
        margin-left: 21px;
        border: solid 3px var(--purple2);
    } 

    .precio-admin {
        font-weight: 700;
        margin-left: 38px;
        margin-bottom: 3px;
        margin-top: 16px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
    }

    .text-precio-admin {
        border-radius: 15px;
        width: 70%;
        height: 34px;
        margin-left: 34px;
        margin-top: 10px;
        margin-bottom: 16px;
        border: solid 3px var(--purple2);
    }
}

@media (min-width:575px) {
    
    .edit-product {
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 700;
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
    }

    .admin-1-titulo {
        font-weight: 700;
        font-size: 18px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
        margin-left: 246px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 12px;
        
    }
    .admin-main .carga-product .category-product .bars input {
        display: flex;
        justify-content: center;
        border-radius: 7px;
        margin-top: 5px;
        flex-direction: column;
        margin-left: 26px;
        border: solid 3px var(--purple2);
    }

    .admin-main .carga-product .img-agregar {
        border: solid 2px var(--purple2);
        border-radius: 12px;
        background-color: var(--orange2);
        width: 90%;
        height: 86px;
        margin-top: 26px;
        margin-left: 30px;
    }

    .admin-main .caja-descripciones .admin-2-titulo {
        font-weight: 700;
        margin-left: 259px;
        margin-bottom: 13px;
        margin-top: 13px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
    }
    
    .admin-main .caja-descripciones textarea {
        border-radius: 12px;
        width: 80%;
        height: 30px;
        margin-left: 62px;
    } 

    .precio-admin {
        font-weight: 700;
        margin-left: 320px;
        margin-bottom: 3px;
        margin-top: 16px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
    }

    .text-precio-admin {
        border-radius: 10px;
        width: 70%;
        height: 34px;
        margin-left: 110px;
        margin-top: 10px;
        margin-bottom: 16px;
    }
}

@media (min-width: 768px) {
    
    .edit-product {
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 700;
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
    }

    .admin-1-titulo {
        font-weight: 700;
        font-size: 18px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 12px;
        
    }
    .admin-main .carga-product .category-product .bars input {
        display: flex;
        justify-content: center;
        border-radius: 7px;
        margin-top: 5px;
        flex-direction: column;
        margin-left: -64px;
        border: solid 3px var(--purple2);
    }

    .categoria2 {
        display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin-left: 75px;
    }

    .admin-main .carga-product .img-agregar {
        border: solid 2px var(--purple2);
        border-radius: 12px;
        background-color: var(--orange2);
        width: 90%;
        height: 133px;
        margin-top: 37px;
        margin-left: 43px;
    }

    .admin-main .caja-descripciones .admin-2-titulo {
        font-weight: 700;
        margin-left: 28px;
        margin-bottom: 13px;
        margin-top: 13px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
    }
    
    .admin-main .caja-descripciones textarea {
        border-radius: 12px;
        width: 80%;
        height: 30px;
        margin-left: 21px;
        border: solid 3px var(--purple2);
    } 

    .precio-admin {
        font-weight: 700;
        margin-left: 38px;
        margin-bottom: 3px;
        margin-top: 16px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
    }

    .text-precio-admin {
        border-radius: 15px;
        width: 70%;
        height: 34px;
        margin-left: 34px;
        margin-top: 10px;
        margin-bottom: 16px;
        border: solid 3px var(--purple2);
    }
}
