.separacion{
    height: 500px;
}









/* FOOTER */

body .footer{
    background-color:var(--purple);
    width: 100%;
    color: white; 
    padding: 5px;
}

body .footer hr.linea1{
    border: 1px solid white;
    margin: 5px 10px 5px 10px;
    
}

body .footer hr.linea2{
    margin: 10px 10px 20px 10px;
    margin-top: 20px;
    border: 1px solid white;
}

body .footer .container-footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

body .footer .container-footer-top{
    width: 100%;
}

body .footer .container-footer-top img{
    height: 20px;
    width: 20px;
}


body .footer .container-footer-top .email{
    max-width: 600px;
}

body .footer .container-footer-top .email h4{
    font-size: 16px;
}

body .footer .container-footer-top .redes{
    max-width: 600px;
}

body .footer .container-footer-top .redes h4{
    font-size: 16px;
    margin-top: 20px;
}

body .footer .container-footer-top .redes ul {
    display: flex;
    justify-content: start;
    gap: 30px;
}

body .footer .container-footer-top .redes ul li{
    margin-top: 20px;
}

body .footer .container-footer-top .container-footer-top-2{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}


body .footer .container-footer-bot .container-row{
    display: flex;
    flex-direction: column;
}

body .footer .container-footer-bot .container-row img{
    height: 20px;
    width: 20px;
}

body .footer .container-footer-bot .container-row .contactanos{
    max-width: 400px;
    margin-left: 20px;
}

body .footer .container-footer-bot .container-row .contactanos .row{
    margin-top:15px;
}


body .footer .container-footer-bot .container-row .contactanos .row label{
    margin-left: 10px;
}

body .footer .container-footer-bot .container-row .aceptamos{
    max-width: 400px;
    text-align:start;
    margin-top: 20px;
    margin-left: 20px;
}

body .footer .container-footer-bot .container-row .aceptamos ul{
    display:flex;
    gap: 30px;
}


body .footer .container-footer-bot .container-row .aceptamos ul li{
    margin-top: 15px;
}


body .footer .container-footer-bot .container-row .horarios{
    max-width: 400px;
    display: none;
}

body .footer .container-footer-bot .container-row .horarios label{
    margin-top: 15px;
    display: inline-block;
}









                    