@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Roboto:wght@300;400;500&family=Titan+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
}


li{
    list-style:none;
}

a{
    text-decoration: none;
    color: black;
}

h2.all-products{
    margin: 30px auto;
    font-size: 24px;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 5px;
    width: 30%;
    background-color: var(--orange3);
    height: 35px;
    align-items: center;
    color: white;
    font-family:  'Titan One', cursive;
    font-weight: 400;
    letter-spacing: 0.5px;
}