.main-header.admin{
    justify-content: space-between;
}


.main-header.admin .logo{
    order: 0;
}

.main-header.admin .user-icons-desktop i {
    font-size: 2.3rem;
}

.main-header.admin .user-icons-desktop span {
    font-size: 2.3rem;
}

.main-header.admin .search-form-desktop .search-bar input {
    font-size: 1.5rem;   
  }

.main-header.admin .search-form-desktop .search-bar button i {
    font-size: 1.5rem;
}

header.admin .navigation-bar{
    display: flex;
background: var(--purple);
color: #2c3e50;
height: 45px;
justify-content: space-between;
align-items: center;
}

header.admin .navigation-bar a{
    width: 50%;
text-align: center;
color: white;
font-size: 1.7rem;
padding: 12px;
transition: 400ms ease all;
}

header.admin .navigation-bar a:hover{
    background: #5B228C;
}

body.admin.form .navigation-bar a{
    font-size: 1.1rem;
}

body.admin.form .user-icons-desktop{
   
}

body.admin.form .user-icons-desktop i{
    font-size: 1rem;
}

body.admin.form .user-icons-desktop .user i{
    font-size: 1.5rem;
}

body.admin.form .user-icons-desktop .user span{
    font-size: 1.5rem;
}


@media(min-width:768px){

    body.admin.form .user-icons-desktop .user .menu-user{
        width: 8rem;
        font-size: 1rem;
        position: absolute;
        left: 70px;
    }

    body.admin.form .user-icons-desktop{
        width: 250px;
    }

    .main-header.admin{
        justify-content: space-between;
        padding: 1px 15px;
        
    }

    .main-header.admin .search-form-desktop {
        width: 50%;
    }

    .main-header.admin .user-icons-desktop {
        width: 250px;
      }

      .main-header.admin .user-icons-desktop .user {
        gap: 5px;
      }

      .main-header.admin .user-icons-desktop .switch span i {
        font-size: 2rem;
      }

      .main-header.admin .user-icons-desktop .user .menu-user{
          width: 13rem;
          font-size: 1.5rem;
          left: 80px;
          position: absolute;
      }

      .main-header.admin .user-icons-desktop .user span.session {
        top: -5px;
        right: 5px;
      }
}

