 header .container{
    background-color: var(--orange);
    display: flex;
    justify-content:space-around;
    align-items: center;
}

 header .container .lis{
    display: flex;
    justify-content:space-between;
    align-items: center;    
    flex-grow: 0.8;
    padding: 0 10px;
}

 header .container .lis .search-bar{
    display: none;
}

 header .container .lis button{
    height: 20px;
    background-color:var(--orange);
    border-style: none;
    font-size: 20px;
    color:whitesmoke;
}

 header .container .lis .logo a img{
    width: 80px;
    margin-top:5px;
    margin-bottom: 5px;
    
}

 nav ul{
    display:none;
}

 header .header-secundary{
    background-color:var(--purple);
}

 header .header-secundary ul {
    display: flex;
    height: 50px;
    justify-content:space-evenly;
    align-items:center;
    
}

 header .header-secundary ul li {
    display: flex;
    flex-direction: column;
    color: white;
    list-style: none;
    justify-content: center;
    align-items: center;
}

 header .header-secundary ul li a{
    color: white;
}


