<<<<<<< HEAD
 header .container{
=======

body header .container{
>>>>>>> refs/remotes/origin/master
    background-color: var(--orange);
    display: flex;
    justify-content:space-around;
    align-items: center;
}

<<<<<<< HEAD
 header .container .lis{
    display: flex;
    justify-content:space-between;
    align-items: center;    
    flex-grow: 0.8;
    padding: 0 10px;
}

 header .container .lis .search-bar{
    display: none;
}

 header .container .lis button{
=======
body header .container .search-bar input{
    display: none;
}

body header .container  .boton{
    height: 20px;
    background-color:var(--orange);
    border-style: none;
    font-size: 20px;
    color: white;
}

body header .container  button{
>>>>>>> refs/remotes/origin/master
    height: 20px;
    background-color:var(--orange);
    border-style: none;
    font-size: 20px;
    color: white;
}

<<<<<<< HEAD
 header .container .lis .logo a img{
=======
body header .container .logo a img{
>>>>>>> refs/remotes/origin/master
    width: 80px;
    margin-top:5px;
    margin-bottom: 5px;
    
}

<<<<<<< HEAD
 nav ul{
    display:none;
}

 header .header-secundary{
    background-color:var(--purple);
}

 header .header-secundary ul {
=======
body header nav{
    background-color:var(--purple);
}

body header nav ul {
>>>>>>> refs/remotes/origin/master
    display: flex;
    height: 50px;
    justify-content:space-evenly;
    align-items:center;
    
}

<<<<<<< HEAD
 header .header-secundary ul li {
=======
body header nav ul.top-list {

}

body header nav ul.bot-list {
    display: none;
}

body header nav ul li {
>>>>>>> refs/remotes/origin/master
    display: flex;
    flex-direction: column;
    color: white;
    list-style: none;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD
 header .header-secundary ul li a{
    color: white;
}


=======
body header nav ul li a{
    color: white;
}
>>>>>>> refs/remotes/origin/master
