
 header .container{
    background-color: var(--orange);
    display: flex;
    justify-content:space-around;
    align-items: center;
}

 header .container .search-bar input{
    display: none;
}

 header .container  .boton{
    height: 20px;
    background-color:var(--orange);
    border-style: none;
    font-size: 20px;
    color: white;
}

 header .container  button{
    height: 20px;
    background-color:var(--orange);
    border-style: none;
    font-size: 20px;
    color: white;
}

 header .container .logo a img{
    width: 80px;
    margin-top:5px;
    margin-bottom: 5px;
    
}

 header nav{
    background-color:var(--purple);
}

 header nav ul {
    display: flex;
    height: 50px;
    justify-content:space-evenly;
    align-items:center;
    
}



 header nav ul.bot-list {
    display: none;
}

 header nav ul li {
    display: flex;
    flex-direction: column;
    color: white;
    list-style: none;
    justify-content: center;
    align-items: center;
}

 header nav ul li a{
    color: white;
}
