/* HEADER TOP */ 
 .header-admin{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

 .header-admin .container-header-admin .container-header-top-admin .logo-admin a img{
    width: 130px;
    
}

 .header-admin .container-header-admin .container-header-top-admin{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:var(--orange3);
    flex-wrap: wrap;
    padding: 12px;
}

 .header-admin .container-header-admin .container-header-top-admin .logo-admin a img{
    width: 130px;
}

 .header-admin .container-header-admin .container-header-top-admin .menu-admin button{
    background-color: var(--orange3);
    border: 0px;
    color: white;   
}

 .header-admin .container-header-admin .container-header-top-admin .menu-admin button i{
    font-size: 25px;
}

 .header-admin .container-header-admin .container-header-top-admin .search-bar-admin{
    display: flex;
    width: 0px;
   
}

 .header-admin .container-header-admin .container-header-top-admin .search-bar-admin input{
    width: 100%;
    border: 1px solid white;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    outline: none;
    display: none;
}

 .header-admin .container-header-admin .container-header-top-admin .search-bar-admin .boton-admin{
    position: relative;
    right: 10px;
}

 .header-admin .container-header-admin .container-header-top-admin .search-bar-admin .boton-admin i{
    color: white;
    font-size: 1.5rem;
}

 .header-admin .container-header-admin .container-header-top-admin .nav-bar-admin{
    display: none;
}

 .header-admin .container-header-admin .container-header-top-admin .nav-bar-admin ul .inicio-admin{
    display: none;
}

 .header-admin .container-header-admin .container-header-top-admin .nav-bar-admin ul .cuenta-admin{
    display: none;
}

 .header-admin .container-header-admin .container-header-top-admin .nav-bar-admin ul .carrito-admin li i{
    color: white;
    font-size: 1.5rem;
    display: none;
}

 .header-admin .container-header-admin .container-header-top-admin .nav-bar-admin ul .carrito-admin li a label{
    display: none;
}


/*---------------------HEADER BOT---------------------*/

  .header-admin .container-header-admin .container-header-bot-admin{

    background-color: var(--purple);
    
}

/*
.header-admin .container-header-admin .container-header-bot-admin .nav-var-admin2{
display: flex;
flex-direction: row;
} */

.bot-list-admin {
    display: flex;
    justify-content: space-evenly;
    padding-top: 9px;
    padding-bottom: 12px;
    font-style: italic;
}