/*--------------MEDIA QUERIES------------------*/
/*-----------------TABLET--------------------*/

@media (min-width: 576px){

/*-------------------------HEADER-TOP-----------------------*/

    .header label{
        cursor: pointer;
    }

    .header .container-header .container-header-top{
        flex-wrap:wrap;
    }

    .header .container-header .container-header-top .menu{
        display: block;
    }
    
    .header .container-header .container-header-top .logo a img{
        width: 140px;
    }

    body .header .container-header .container-header-top .search-bar{
        width: 100%;
        margin-left: 80px;
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 10px 10px 5px 40px;
        max-width: 650px;
    }
    
    body .header .container-header .container-header-top .search-bar input{
        display: block;
    }

    body .header .container-header .container-header-top .search-bar .boton{ 
        right: 30px;
    }

    body .header .container-header .container-header-top .search-bar .boton i{
        color: black; 
    }

    body .header .container-header .container-header-top .nav-bar1{
        width: 0%;
        display: block;
    }

    body .header .container-header .container-header-top .nav-bar1 ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    body .header .container-header .container-header-top .nav-bar1 ul li i{
        color: white;
        font-size: 25px;
    }

    body .header .container-header .container-header-top .nav-bar1 ul li a{
        margin-top: 5px;
    }

    body .header .container-header .container-header-top .nav-bar1 ul li a label{
        color: white;
        font-size: 18px;
    }

    body .header .container-header .container-header-top .nav-bar1 ul .inicio{
        display: none;
    }
    
    body .header .container-header .container-header-top .nav-bar1 ul .cuenta{
        display: none;
    }

    body .header .container-header .container-header-top .nav-bar1 ul .carrito li i{
        display: block;
    }

    body .header .container-header .container-header-top .nav-bar1 ul .carrito li a label{
        display: none;
        
    }
    
    body .header .container-header .container-header-top .nav-bar1 ul.top-list{
        display: flex;
        justify-content: space-evenly;
    }


    /*-------------------------HEADER BOT-------------------------*/

    body .header .container-header .container-header-bot{
        height: 50px;
        width: 100%;
        display: none;
    }

    body .header .container-header .container-header-bot .nav-bar2 ul.bot-list{
        display: flex;
        justify-content: space-evenly;
        padding-top: 15px;
    }

    body .header .container-header .container-header-bot .nav-bar2 ul.bot-list li{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    body .header .container-header .container-header-bot .nav-bar2 ul.bot-list li a{
        color: white;
    }


    /*---------------------------MAIN HOME----------------------*/

    body .main-container .section-productos,.section-vendido{
        max-width: 600px;
        margin: 0 auto;
    }

    body main.main .main-container section.zonas{
        max-width: 600px;
    }


    /*-------------------------FOOTER TOP--------------------------*/

    body .footer .container-general hr.hr1{
        border-top: 1px solid rgb(255, 255, 255);
        margin: 0 auto;
        width: 95%;
        margin-top: 10px;
        margin-bottom: 20px;
        max-width: 650px;
    }

    body .footer .container-footer-top .container-footer-top-2 img{
        width: 25px;
        height: 25px;
    }

    body .footer .container-general .container-footer-top .container-footer-top-2{
        flex-direction: row;
        justify-content: space-evenly;
        gap: 100px;
    }
    
    body .footer .container-general .container-footer-top .container-footer-top-2 .redes h4{
        margin-top: 0;
    }
    
    body .footer .container-general .container-footer-top .container-footer-top-2 .email .search-bar-footer input{
        max-width: 100%;
        width: 230px;
    }

    body .footer .container-general .container-footer-top .container-footer-top-2 .email .search-bar-footer .boton{
        top: -5px;
        right: -60px;
        margin-top: 0px;
    }

    
    /*-----------------------------FOOTER BOT------------------------------*/

    body .footer .container-general .container-footer-bot hr.linea2{
        display: none;
    }

    body .footer .container-general .container-footer-bot .container-row{
        justify-content: space-evenly;
        flex-direction: row-reverse;
        gap: 40px;
    }

    body .footer .container-general .container-footer-bot .container-row img{
        width: 25px;
        height: 25px;
    }

    body .footer .container-general .container-footer-bot .container-row .aceptamos{
        margin-top: 0px;
        margin-left: 0px;
    }

    body .footer .container-general .container-footer-bot .container-row .aceptamos ul{
        gap: 0px;
        flex-direction: column;
        text-align: center;
    }

    body .footer .container-general .container-footer-bot .container-row .contactanos{
        margin-left: -60px;
    }


    body .footer .container-footer-top .container-footer-top-2 .email .search-bar-footer .boton button{
        height: 35px;
    }

}


/*--------------------------------DESKTOP---------------------------------*/
@media (min-width: 768px){

/*------------------HEADER-TOP---------------------*/

    body .header .container-header .container-header-top{
        flex-wrap: nowrap;
    }

    body .header .container-header .container-header-top .logo a img{
        margin-left: 20px;
    }

    body .header .container-header .container-header-top .menu{
        display: none;
    }

    body .header .container-header .container-header-top .search-bar{
        width: 60%;
        margin: 10px 0px 10px 20px;
        order: 0;
    }

    body .header .container-header .container-header-top .nav-bar1{
        width: 30%;
    }

    body .header .container-header .container-header-top .nav-bar1 ul .inicio{
        display: block;
    }

    body .header .container-header .container-header-top .nav-bar1 ul .cuenta{
        display: block;
        cursor: pointer;
    }

    body .header .container-header .container-header-top .nav-bar1 ul .carrito li a label{
        display: block;
    }


/*----------------------------HEADER BOT------------------------------*/

    
    body .header .container-header .container-header-bot{
        display: block;
    }

    body .header .container-header .container-header-bot .nav-bar2 ul.bot-list li i{
        color: white; 
    }

/*-----------------------------MAIN HOME-----------------------------*/


    body main.main .main-container section.zonas{
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
    }

    body main.main .main-container section.zonas article.card-bg.marvel{
        width: 400px;
        transition: 0.7s;
    }

    body main.main .main-container section.zonas article.card-bg.marvel:hover{
        transform: scale(1.1);
    }

    body main.main .main-container section.zonas article.card-bg.dc{
        width: 400px;
        transition: 0.7s;

    }

    body main.main .main-container section.zonas article.card-bg.dc:hover{
        transform: scale(1.1);
    }


    body main.main .main-container section.zonas article.card-bg.anime{
        width: 400px;
        transition: 0.7s;
    }

    body main.main .main-container section.zonas article.card-bg.anime:hover{
        transform: scale(1.1);
    }

    body main.main .main-container .section-productos article .caja{
        width: 230px;
        height: 230px;
        transition: 0.5s;
    }

    body main.main .main-container .section-productos article .caja:hover{
        transform: scale(0.9) ;   
    }

    body main.main .main-container .section-vendido article .caja:hover{
        transform: scale(0.9) ;   

    }
    
    body .main-container .section-productos,.section-vendido{
        max-width: 900px;
    }

    body main.main .main-container .section-vendido article .caja{
        width: 230px;
        height: 230px;
        transition: 0.5s;
    }

    body section.info .container-info{
        justify-content: space-evenly;
    }

    body section.info .container-info .tarjeta-shield{
        display: block;
    }

    body section.info .container-info .tarjeta-card{
        display: block;
    }

    
/*---------------------------FOOTER-----------------------------*/


    body .footer .container-general{
        max-width: 900px;
        margin: 0 auto;
    }

    body .footer .container-general hr.hr1{
        max-width: 800px;
    }

    body .footer .container-general img{
        width: 30px;
        height: 30px;
    }

    body .footer .container-general .container-footer-top{
        max-width: 900px;
    }

    body .footer .container-general .container-footer-top h4 br{
        display: none;
    }
    
    body .footer .container-footer-top .container-footer-top-2 img{
        width: 30px;
        height: 30px;
        transition: 0.5s;

    }

    body .footer .container-footer-top .container-footer-top-2 img:hover{
        transform: scale(1.5);
    }

    body .footer .container-general .container-footer-top .container-footer-top-2 .redes ul{
        justify-content: center;
        gap: 60px;
    }

    body .footer .container-general .container-footer-top .container-footer-top-2 .email .search-bar-footer input{
        width: 100%;
        height: 30px;
    }

    body .footer .container-general .container-footer-top .container-footer-top-2 .email .search-bar-footer .boton{
        top: -5px;
        right: -70px;
    }

    body .footer .container-general .container-footer-top .container-footer-top-2 .email .search-bar-footer .boton button{
        height: 40px;
        width: 60px;
        transition: 0.5s;
    }
    
    body .footer .container-general .container-footer-top .container-footer-top-2 .email .search-bar-footer .boton button:hover{
        color: var(--orange);
        background-color:whitesmoke;
        border: var(--orange);
        transition: 0.5s;
    }

    body .footer .container-general .container-footer-bot{
        max-width: 900px;
    }
    
    body .footer .container-general .container-footer-bot .container-row{
        gap: 45px;
    }
    
    body .footer .container-general .container-footer-bot .container-row img{
        width: 30px;
        height: 30px;
    }


    body .footer .container-general .container-footer-bot .container-row .horarios{
        display: block;
        text-align: center;
    }

    body .footer .container-general .container-footer-bot .container-row .aceptamos{
        order: 1;
    }

    body .footer .container-general .container-footer-bot .container-row .contactanos{
        order: 1;
        margin-left: 0px;
    }


}

@media (min-width: 992px){

/*--------------------HEADER-----------------------*/

    body .header .container-header .container-header-top .nav-bar1{
        width: 25%;
    }

    body .header .container-header .container-header-top .search-bar input{
        height: 45px;
    }


/*----------------------------MAIN HOME--------------------------*/

    body main.main .main-container .section-productos{
        margin: 0 auto;
    }

    body main.main .main-container .section-productos,.section-vendido{
        max-width: 1000px;
    }

    body main.main .main-container .section-productos article .caja {
        width: 250px;
        height: 250px;
    }

    body main.main .main-container .section-vendido article.producto .caja{
        width: 250px;
        height: 250px;
    }

    body main.main .main-container section.zonas{
        max-width: 1000px;
    }

    /*--------------------------FOOTER-------------------------*/

    body .footer .container-general{
        max-width: 1100px;
    }

    body .footer .container-general hr.hr1{
        max-width: 900px;
    }

    body .footer .container-general .container-footer-top{
        max-width: 1100px;
    }

    body .footer .container-general .container-footer-bot{
        max-width: 1100px;
    }
    
}

@media(min-width:1200px){
    body main.main .main-container .section-productos article .caja {
        width: 300px;
        height: 300px;
    }

    body main.main .main-container .section-vendido article.producto .caja {
        width: 300px;
        height: 300px;
    }
}














