

.input-container,.button-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 90%;
}

.button-container {
    align-items: center;
}

span.error-message {
    color: red;
    font-size: 10px;
    margin: 5px auto;
    display: none;
}

input.input-style {
    border: 0.5px solid grey;
    border-radius: 1rem;
    height: 2.5rem;
    padding: .5rem;
}


input.input-style::placeholder {
    color: lightgray;
}

.input-file-container {
    background-color: white;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
}

select.input-select {
    border: none;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 0.5rem;
}

input.input-style:focus,
.input-file-container,
select.input-select:focus {
    box-shadow: 0 0 6px rgb(255, 255, 255);
    outline: none;
}

.form-container {
    background: white;
    border-top: solid 55px darkorange;
    border-radius: 10px;
    margin: 0 auto;
    height: fit-content;
    height: -moz-fit-content;
    padding: 1rem;
}

.check {
    display: flex;
    align-items: center;
    padding-right: 5px;
    margin-bottom: 1rem;
    width: 80%;
}

.check label {
    margin-right: 10px;
    position: relative;
    top: -1px;
    padding-left: 8px;
} 


/* BUTTONS */

.btn {
    border: none;
    cursor: pointer;
    height: 40px;
    text-transform: uppercase;
    width:100%;
    font-weight: 700;
    font-size: 16px;
    outline: none;
}

.btn-submit {
    background: linear-gradient(45deg, rgb(243, 184, 57) 0%,  orange);
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
    

}




.fab .fa-google-3x::before {
  font-family:'Font Awesome 5 Free';
  font-weight: 900; 
}


.fa-3x{
    font-size: 1em;
    padding-right: 7px;
}


.fa-3x:hover{
    font-size: 1em;
    padding-right: 7px;
}


.fab .fa-facebook-5x {
    font-family:'Font Awesome 5 Free';
    font-weight: 900; 
  }

.re-password{
    padding: 15px 0 15px;
}


/* Media queries*/

/* Mobile*/

@media screen and (min-width: 475px) {
    .input-container,
    .button-container,
    .input-file-container {
        width: 90%;
    }
    .form-container {
        width: 75%;
    }

    .btn-facebook,
    .btn-gmail{
        width: 90%;
    }

    .fa-1x {
        font-size: 1em;
        padding-right: 7px;
    }

}

/* Tablet */

@media screen and (min-width: 768px) {
    .input-container,
    .button-container,
    .input-file-container {
        width: 80%;
    }

    .btn-facebook,
    .btn-gmail{
        width: 80%;
    }

    .form-container {
        width: 50%;
    }

    .fa-1x {
        font-size: 1em;
        padding-right: 7px;
    }


}

