body .main{
    margin: 0 auto;
}

body .main-container{
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

span.discount{
    padding: 4px;
    position: absolute;
    background-color: #8b52c4;
    border-radius: 50px;
    opacity: 0.9;
    top: 10px;
    right: 10px;
    width: 90px;
    color: white;
}

a.product-name{
    color: #2c3e50;
    display: block;
    height: 40px;
}

body .main-container .container-carrousel .carrousel{
    height: 150px;
}

body .main-container .container-carrousel .carrousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


body .main-container .boton-productos{
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 5px;
    width: 250px;
    margin: 0 auto;
    background-color: var(--orange3);
    height: 35px;
    align-items: center;
}

body .main-container .boton-productos a{
    color: white;
}

body .main-container .boton-productos a h4{
    font-weight: 500;
}

body .main-container h5{
    color: var(--orange3);
    font-family: 'Titan One', cursive;
    font-weight: 400;
    font-size: 24px;
}

body .main-container .titulo{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
}

body .main-container hr.hr1{
    margin-top: 10px;
    margin-bottom: 20px;
    background: linear-gradient(to right,#eea849,#f46b45);
    height: 5px;
    border: 0;
}

body .main-container .section-productos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: space-evenly;
    text-align: center;
}

body .main-container .section-productos article h4{
    margin: 10px 0 10px 0;
    font-weight: 500;
}

body .main-container .section-productos article .caja {
    width: 210px;
    box-shadow: 0px -1px 5px 0px rgba(87, 87, 87, 0.74);
    height: 210px;
    display: flex;
    border-bottom: 4px solid var(--orange3);
    /* transition: all 0.5s ease-in-out; */
    justify-content: center;
}

body .main-container .section-productos article .caja img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* SECTION 2 */


body .main-container .section-vendido{
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: space-evenly;
    text-align: center;
}

body .main-container .section-vendido article.producto{
    margin-bottom: 30px;
    box-shadow: 0px -1px 5px 0px rgba(87, 87, 87, 0.74);
}


body .main-container .section-vendido article.producto p{
    margin-top: 5px;
    height: 30px;
}

body .main-container .section-vendido article.producto h4{
    margin: 10px 0 10px 0;
    font-weight: 500;
    color: var(--orange3);
}

body .main-container .section-vendido article.producto .caja {
    width: 190px;
    height: 190px;
    display: flex;
    border-bottom: 4px solid var(--orange3);
    justify-content: center;
    position: relative;
}

body .main-container .section-vendido article.producto .caja img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

body .main-container .section-vendido article.producto .container-product-index{
    width: 190px;
    padding: 10px;
    background-color: #F1F1F1;
    text-align: start;
}

body .main-container .section-vendido article.producto .botones{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

body .main-container .section-vendido article.producto .botones button{
    width: 80px;
    height: 30px;
}

body .main-container .section-vendido article.producto .botones button span{
    font-weight: 500;
}

body .main-container .section-vendido article.producto .botones button.buy{
    background-color: var(--orange3);
    border: none;
    border-radius: 5px;
    color: white;
}

body .main-container .section-vendido article.producto .botones button.buy:hover{
    background-color: #ff7d38;
}

body .main-container .section-vendido article.producto .botones button.see{
    background-color: white;
    border: 1px solid var(--orange3);
    border-radius: 5px;
    color: var(--orange3);
}

/* SECTION 3 */

body .main-container section.zonas{
    max-width: 500px;
    margin: 0 auto;
}

.card-bg {
    position: relative;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    padding-top: 20px;
}

.card-bg h2{
    font-size: 1.5rem;
}


.card-bg img {
    height: 120px;
    object-fit: cover;
    width: 100%;
    border-radius: 30px;
}

.card-data {
    position: absolute;
    color: white;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: rgba(0,0,0,0.4);
}


/* SECTION 4 */


body section.info{
    background-color: #F1F1F1;
    width: 100%;
    height: 100px;
    margin:20px 0;
}

body section.info .container-info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body section.info .container-info .tarjeta-shield{
    display: none;
}

body section.info .container-info .tarjeta-card{
    display: none;
}

body section.info .container-info .tarjeta{
    display: flex;
    justify-content: center;
    align-items: center;
}

body section.info .container-info .tarjeta .text p{
    color: #2c3e50;
    font-size: 1.1rem;
}

body section.info .container-info .tarjeta .text label{
    color: #666;
    font-size: 0.9rem;
}

body section.info .container-info .tarjeta .icon-tarjeta{
    background: rgba(44, 62, 80, 0.2);
    width: 60px;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    border-radius: 50%;
    margin-right: 15px;
}

body section.info .container-info .tarjeta i{
    font-size: 30px;
    color: #2c3e50;
}

/* media queries */

@media (min-width: 576px) {
    .card-bg img {
        width: 400px;
}
}

@media (min-width: 768px) {
    body .main-container .section-vendido article.producto .container-product-index{
        width: 230px;
    }

    body section.info .container-info{
        justify-content: space-around;
    }

    body section.info .container-info .tarjeta-shield{
    display: block;
    }

    body section.info .container-info .tarjeta-card{
    display: block;
    }

    a.product-name:hover{
        text-decoration: underline;
        color: purple;
    }

}

@media (min-width: 992px) {
    body .main-container .section-vendido article.producto .container-product-index{
        width: 250px;
}
}

@media (min-width: 1200px) {
    body .main-container .section-vendido article.producto .container-product-index{
        
}
}