body .main{
    margin: 0 auto;
}

body .main-container{
    background-color: white;
    padding: 10px;
}

body .main-container .container-section{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

body .main-container .container-section .caja {
    width: 210px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    height: 210px;
    display: flex;
    border-bottom: 5px solid orange;
    /* transition: all 0.5s ease-in-out; */
}

body .main-container .container-section .caja img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}