/*main*/

@media(min-width: 320px) {
    .detail-product  {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: solid 10x chartreuse;
        width: 100%;
        box-sizing: border-box;
        background: linear-gradient(rgb(255, 164, 89), rgba(100, 68, 241, 0.651));
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    

    .banner{
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
     .banner .banner1 {
        display: flex;
        background-color: var(--orange);
        width: 100%;
        border: solid 3px var(--purple);
        border-radius: 10px;
        justify-content: space-evenly;
        align-items: center; 
    }

    
    
    
      .product-card{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: var(--orange2);
        border-radius: 10px;
        border: solid 5px var(--purple);
        margin-bottom: 20px;
        margin-top: -20px;
       
    }

    .product-card p{
        font-weight: 700;
    }
    .foto{
        margin-top: 20px;
        width: 100%;
    }
    
    .product-foto{
        margin-top: 15px;
        background-color: #9D4EDD;
        width: 100%;
        height: 1500px ;
        border-radius: 10px;
        margin-bottom: 20px;
        border: solid 5px #FF9E00;
      
    }
    
    .item-main{
        margin-top: 30px;
        background-color: var(--orange2);
        height: 88.5%;
        width: 86.5%;
      margin: auto;
      border-radius: 10px;
      align-content: center;
      object-fit: cover;
      padding-top: 5px;
      border: solid 3px var(--purple);
    } /*recordar para tablet otro ancho*/
    
.item-main img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

     .item{
      display: flex;
        justify-content:space-evenly;
       padding-top: 10px;
    
    }
    .item1{
        background-color: var(--orange2);
        width: 80%;
        height: 80%;
        margin-bottom: 10px;
        border-radius: 10px;
        padding-top: 10px;
       padding-bottom: 10px;
       border: solid 3px var(--purple);
    }
    
    .item1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    }

    
    
    .item-main .item{
        padding-bottom:  10px;
    }
    
    .precio{
        background-color: #FF9E00;
        width: 87.4%;
        height: 40px;
        display: flex;
        align-items: center;
        margin: auto;
        border-radius: 10px;
        padding-left: 20px;
        border: solid 2.5px var(--purple);
        justify-content: center;
        font-weight: 700;
    }
    
.precio a{
    color: black;
    font-size: 14px;
}

.precio i{
    color: var(--purple2);
}
    .descripcion
    {
        background-color: #FF9E00;
        width: 87.4%;
        height: 90px;
        display: flex;
        border: solid 2.5px var(--purple);
        align-items: center;
        margin: 10px auto 0 auto ; 
        border-radius: 10px;
        padding-left: 20px; 
       justify-content: center;
       font-weight: 700;
    }
    
    .caracteristicas {
        display: flex;
        flex-direction: column;
        background-color: #FF9E00;
        justify-content: space-evenly;
        width: 87.4%;
        /*height: 60%;*/
        display: flex;
        border: solid 2.5px var(--purple);
        align-items: center;
        margin: 25px auto 0 auto ; 
        border-radius: 10px;
        padding-left: 20px; 
        padding-right: 20px;
    }
    
    .caracteristicas .table-1{
        background-color: var(--orange) ;
        border-radius: 10px;
        width: 100%;
    }

    .caracteristicas .table-1 td{
        background-color: var(--orange2);
    
    }

    .caracteristicas .table-1 th{
        background-color: var(--orange2);
        
        
    }

    
    .caracteristicas .table-2 {
        background-color: var(--orange) ;
        border-radius: 10px ;
        margin-right: 4px;
        width: 100%;
    }
    
    .caracteristicas .table-2 th{
        background-color: var(--orange2);
    }

    .caracteristicas .table-2 td{
        background-color: var(--orange2);
        width: 44.5%;
    }

    .caracteristicas .table-2 .star{
        background-color: var(--orange2);
        border: var(--orange2);
    }

    .caracteristicas .table-2 .star i{
        background-color: var(--orange2);
        color: var(--purple2);
    }
    .categorias, .public{ /* con esto desaparezco desde la version mobile*/
        display: none;
    
    }
    
    
    
    .star-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    
    }
    
    .star-text .text-1 {
        background-color: var(--orange);
        border-radius: 20px;
        border: solid 3px var(--purple);
        width: 35%;
        height: 40%;
        align-content: center;
        align-self: center;
        padding-top: 5px;
        font-size: 20px;
        font-weight: 700 ;
        margin-right: 76px;
    }

    .star-text .star .text-1 a:hover{
        transform: scale(1.1);
        transition: all 0.5s ease-in-out;
    } 

    .star .text-2{
        padding-left: 4px;
        color: var(--orange2);
    }

    .star-text .star{
        
        background-color: var(--purple);
        color: white;
        border: solid 1px var(--orange);
        border-radius: 10px;
        margin-top: 10px;
    }
    
    .star-text .star i{
        padding: 10px;
        background-color: var();
    }
    .comprar{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        width: 60%;
        margin: auto;
    }
    
    .comprar a{
        background-color: var(--orange);
        border-radius: 20px;
        border: solid 3px var(--purple);
        width: 40%;
        height: 40px;
        align-content: center;
        align-self: center;
        padding-top: 1px;
        font-size: 14px;
        font-weight: 700 ;
        justify-content: center;

    }
    
    .comprar img{
        padding: 3px 0 8px 5px;
    }
    
    .comprar a:hover{
        transform: scale(1.1);
        transition: all 0.5s ease-in-out;
    } 
    
        .agregar-carrito {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 7px;
        width: 60%;
        margin: auto;

    } 
    
    
        .agregar-carrito a{
        background-color: var(--orange);
        border-radius: 20px;
        border: solid 3px var(--purple);
        width: 40%;
        height: 40%;
        align-content: center;
        align-self: center;
        padding-top: 1px;
        font-size: 14px;
        font-weight: 700 ;
        
    } 
    
   
        .agregar-carrito a:hover{
        transform: scale(1.1);
        transition: all 0.5s ease-in-out;
    } 
    
    .agregar-carrito img{
        padding: 3px 0 8px 5px;
    }
    
}

/*-------END MOBILE--------*/



/*------Desktop-------*/
 @media (min-width: 1028px) {
.banner{
    display: none;
}
.categorias, .public{
    display: block; /*con esto hago aparecer los banners*/
    height: 70px ;
    width: 70px;
    align-items: center;
}
.detail-product  {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    padding-top: 10px;
    text-align: center;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}
/*---------ITEM-----------*/
.foto{
    margin-top: 20px;
    width: 100%;
}

.product-foto{
    margin-top: 15px;
    background-color: #9D4EDD;
    width: 800px;
    height: 1500px ;
    border-radius: 10px;
    margin-bottom: 20px;
    border: solid 5px #FF9E00;
  
}

.item-main{
    margin-top: 30px;
    background-color: var(--orange2);
    height: 400px;
    width: 700px;
  margin: auto;
  border-radius: 10px;
  align-content: center;
  object-fit: cover;
  
}

.item{
    display: flex;
      justify-content:space-evenly;
     padding-top: 10px;
  
  }

  .item-main .item{
    padding-bottom:  10px;
}

  .item1{
    background-color: var(--orange2);
      width: 200px;
      height: 200px;

      border-radius: 10px;
      padding-top: 10px;
      
  }
  
  
  
  .item-main .item{
      padding-bottom:  10px;
  }
/*-------END ITEM---------*/


/*-------CATEGORIAS-------*/
.categorias, .public{
    width: 80px;
    height: 700px;
    background-color: #9D4EDD;
    display: flex;
    flex-direction:column ;
    border: solid 2px var(--orange);
    border-radius: 15px;
    padding:10px ;
    justify-content: center;
}
.categorias h1{
    align-items: center;
    padding-bottom: 10px;
}
.categorias .sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 100%;
    align-content: center;
    justify-content: center;
}
    

.categorias .sub .categoria-a{
    background-color: #FF9E00;
    width: 100%;
    padding-top: 4px;
    border-radius: 10px;
    color: var(--purple);
    margin-bottom: 50%;
    border: solid 2px rebeccapurple;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.categorias .sub .categoria-a:hover{
    background-color: rgb(62, 182, 170);
    transition: all 0.5s ease-in-out
}
.public{
    margin-bottom: 10px;
    justify-content: flex-start;
}

.public .a1{
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 50px;
    background-color: var(--orange2);
    border: solid 5px var(--purple);
    border-radius: 20%;
    font-size: 14px;
    align-items: center;
    font-weight: 700;
    margin-bottom: 30px;
    padding-top: 5px;
}

.public .a1:nth-child(1) {
    margin-top: 75px;
}

.public i{
color: var(--orange);
border: solid 4px var(--orange2);
border-radius: 50%;
width: 70%;
font-size: 40px;
height: 45px;
justify-content: center;
}

.public img{
padding-top: 15px;

}

.public img:hover{
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;
}

.public .a1:hover{
    transform: scale(1.3);
    transition: all 0.5s ease-in-out;
}

/*PRECIO Y DESCRIPCION*/
.precio{
    background-color: #FF9E00;
    width: 87.4%;
    height: 40px;
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    padding-left: 20px;
    border: solid 2.5px var(--purple);
    
}

.descripcion
{
    background-color: #FF9E00;
    width: 87.4%;
    height: 90px;
    display: flex;
    border: solid 2.5px var(--purple);
    align-items: center;
    margin: 10px auto 0 auto ; 
    border-radius: 10px;
    padding-left: 20px; 
   
}
/*----CARACTERISTICAS----*/
.caracteristicas {
    display: flex;
    flex-direction: row;
    background-color: #FF9E00;
    justify-content: space-evenly;
    width: 100%;
    height: 120px;
    display: flex;
    border: solid 2.5px var(--purple);
    align-items: center;
    margin: 10px auto 0 auto ; 
    border-radius: 10px;
    padding-left: 20px; 
    padding-right: 20px;
}

.caracteristicas .table-1{
    background-color: var(--orange) ;
    border-radius: 10px;
    
    width: 100%;
    
}

.caracteristicas .table-1 td{
    background-color: var(--orange2);

}

.caracteristicas .table-2 {
    background-color: var(--orange);
    border-radius: 10px ;
    
    width: 100%;
}

.caracteristicas .table-2 td{
    background-color: var(--orange2);
}

.caracteristicas .table-2 .star{
    background-color: var(--orange2);
    border: var(--orange2);
}

.caracteristicas .table-2 .star i{
    background-color: var(--orange2);
    color: var(--purple2);
}
.star-text{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    
    }
    
    .star-text .text-1 {
        background-color: var(--orange);
        border-radius: 20px;
        border: solid 3px var(--purple);
        width: 36%;
        height: 40px;
        align-content: center;
        align-self: center;
        padding-top: 5px;
        font-size: 20px;
        font-weight: 700 ;
        justify-content: center;
    }

    .star-text .star .text-1 a:hover{
        transform: scale(1.1);
        transition: all 0.5s ease-in-out;
    } 

    .star .text-2{
        padding-left: 4px;
        color: var(--orange2);
    }

    .star-text .star{
        
        background-color: var(--purple);
        color: white;
        border: solid 1px var(--orange);
        border-radius: 10px;
        margin-right: 73px;
        justify-content: center;
    }
    
    .star-text .star i{
        padding: 10px;
        background-color: var();
    }
    .comprar{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
       
    }
    
    .comprar a{
        background-color: var(--orange);
        border-radius: 20px;
        border: solid 3px var(--purple);
        width: 60%;
        height: 40px;
        align-content: center;
        align-self: center;
        padding-top: 5px;
        font-size: 20px;
        font-weight: 700 ;
    }
    
    .comprar img{
        padding: 3px 0 8px 5px;
    }
    
    .comprar a:hover{
        transform: scale(1.1);
        transition: all 0.5s ease-in-out;
    } 
    
        .agregar-carrito {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        width: 60%;
    } 
    
    
        .agregar-carrito a{
        background-color: var(--orange);
        border-radius: 20px;
        border: solid 3px var(--purple);
        width: 60%;
        height: 40px;
        align-content: center;
        align-self: center;
        padding-top: 5px;
        font-size: 20px;
        font-weight: 700 ;
        
    } 
    
   
        .agregar-carrito a:hover{
        transform: scale(1.1);
        transition: all 0.5s ease-in-out;
    } 
    
    .agregar-carrito img{
        padding: 3px 0 8px 5px;
    }

    
}

/*------END DESKTOP------*/


/*------TABLET*-------*/

@media (min-width: 768px) {

    .comprar a {
        background-color: var(--orange);
        border-radius: 20px;
        border: solid 3px var(--purple);
        width: 40%;
        height: 40%;
        align-content: center;
        align-self: center;
        padding-top: 5px;
        font-size: 20px;
        font-weight: 700;
        justify-content: center;
    }
    .agregar-carrito a {
        background-color: var(--orange);
        border-radius: 20px;
        border: solid 3px var(--purple);
        width: 40%;
        height: 40%;
        align-content: center;
        align-self: center;
        padding-top: 5px;
        font-size: 20px;
        font-weight: 700;
} 
.star-text .star {
    background-color: var(--purple);
    color: white;
    border: solid 1px var(--orange);
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 65px;
}
}