.cart{
    padding: 10px;
}

.cart .container-cart{
    padding: 10px 0px;
    width: 100%;
}

.cart .container-cart h2{
    margin: 15px 0px;
}

.cart .container-cart form .container-form{
    display: flex;
    position: relative;
    flex-direction: column;
}

.cart .container-cart form .container-form section.container-product{
    display: flex;
    /* flex-wrap: wrap; */
    border-radius: 5px;
    margin: auto;
    flex: 0 0 97%;
    background-color: #f1f1f1;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    border-bottom: 1px solid rgba(44, 62, 80, 0.2);
}

.cart .container-cart form .container-form section.container-product .product-1{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    border-bottom: 1px solid var(--color-oscuro);
    position: relative;
    margin: 0 auto;
}

.cart .container-cart form .container-form section.container-product .product-1 figure{
    width: 100%;
    padding: 5px;
}

.cart .container-cart form .container-form section.container-product .product-1 figure a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart .container-cart form .container-form section.container-product .detail{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 5px;
    justify-content: space-evenly;
}

.cart .container-cart form .container-form section.container-product .detail h3{
    color: #2c3e50;
    font-size: 1rem;
}

.cart .container-cart form .container-form section.container-product .detail .price-cart{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;  
}

.cart .container-cart form .container-form section.container-product .detail .price-cart span{
    font-size: 1rem;
}

.cart .container-cart form .container-form section.container-product .detail .button-trash span{
    position: absolute;
    top: 15px;
    right: 25px;
}

.cart .container-cart form .container-form section.container-product .detail .container-cantidad{
    width: 50px;
}

.cart .container-cart form .container-form section.container-product .detail .container-cantidad input{
    width: 100%;
}

.cart .container-cart form .container-form section.container-subtotal{
    padding: 10px;
    margin: 15px 0;
    background-color: #f1f1f1;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    color: #2c3e50;
    border-bottom: 1px solid rgba(44, 62, 80, 0.2);
}

.cart .container-cart form .container-form section.container-subtotal .subtotal{
    display: flex;
    justify-content: space-between;
}

.cart .container-cart form .container-form section.container-send{
    padding: 10px;
    background-color: #f1f1f1;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    color: #2c3e50;
    border-bottom: 1px solid rgba(44, 62, 80, 0.2);
}

.cart .container-cart form .container-form section.container-send .medios{
    margin-bottom: 10px;
}

.cart .container-cart form .container-form section.container-send .medios span{
    margin-left: 5px;
}

.cart .container-cart form .container-form section.container-send .postal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cart .container-cart form .container-form section.container-send .postal .input-postal{ 
    width: 50%;
}

.cart .container-cart form .container-form section.container-send .postal .input-postal input{
    width: 100%; 
}

.cart .container-cart form .container-form section.container-send .postal .calcular{ 
    width: 50%;
}

.cart .container-cart form .container-form section.container-send .postal .calcular button{ 
    width: 100%;
    border: none;
    padding: 12px 10px;
    background-color: white;
    border: 1px solid rgba(44, 62, 80, 0.3);
    border-radius: 5px;
    cursor: pointer;
    color: var(--orange3);
    font-size: 0.9rem;
}

.cart .container-cart form .container-form section.container-send .postal .calcular button span{  
    font-weight: 500;
}

.cart .container-cart form .container-form section.container-send .no-se{
    width: 100%;  
}

.cart .container-cart form .container-form section.container-send .no-se a{
    color: var(--orange3);
    font-size: 0.8rem;
}
