:root{
    --color-bg: #192229; /* background-color body */
    --color-f-h: #212e36; /* background-color footer y header */
    --color-header2: #293a44; /* background-color header secundario */
}

body{
    background-image: url("https://d3ugyf2ht6aenh.cloudfront.net/assets/themes/material/static/images/patterns/maze.png?1246682174");
}

body.dark{
    
    background-color: var(--color-bg);
    background-image: none;
}

body .footer.dark-footer{
    background-color:  var(--color-f-h);
}

body header .main-header.dark-header{
    background-color:  var(--color-f-h);
}

body header nav.navigation-bar.dark-header2{
    background-color:  var(--color-header2);
}


.section-vendido .producto .container-product-index.dark-card{
    background-color: blue;
}
