.filtro{
    display: none;
}

body h2.subtitle{
    color: #2c3e50;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 20px 5px;
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
}

body .container-search-page{
    padding: 10px;
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
}

body .img-noresults {
    display: flex;
    width: 150px;
    padding: 30px;
    position: absolute;
    left: 930px;
    top: 145px;
}

@media(min-width:576px){

    body h2.subtitle{
        max-width: 560px;
    }
    
}

@media(min-width:768px){

    body h2.subtitle{
        font-size: 1.8rem;
        padding: 30px 45px;
    }

    body h2.subtitle{
        max-width: 800px;
        margin: 0 auto;
    }
}

@media(min-width:992px){

    body h2.subtitle{
        max-width: 1100px;
    }

    body h2.subtitle{
        padding: 30px 30px;
    }
    
}