body {
  background-image: url("https://d3ugyf2ht6aenh.cloudfront.net/assets/themes/material/static/images/patterns/maze.png?1246682174");
  /* transition: 0.2s ease all; */
}

body.dark {
  background-image: none;
  background-color: #192229;
}

/* Dark theme Header */
body.dark .main-header {
  background-color: #212e36;
  border-bottom: 1px solid #385468;
}

body.dark .main-header i {
  color: #ecf0f3;
}

body.dark .main-header .search-bar button {
  background: #273b49;
}

body.dark .main-header input {
  background: #273b49;
  color: white;
  border: 1px solid #385468;
}

body.dark .main-header input i.fas {
  background: #212e36;
}

body.dark ul.menu li:hover {
  background: #212e36;
}

body.dark nav.navigation-bar {
  background-color: #273b49;
  border: 1px solid #385468;
}

body.dark nav.navigation-bar ul.menu {
  color: #ecf0f3;
}

body.dark nav.navigation-bar ul.menu li {
  border-bottom: 1px solid #385468;
}

body.dark nav.navigation-bar ul.menu li:hover {
  background: #212e36;
}

body.dark nav.navigation-bar ul.menu .user a {
  background: #273b49;
  color: #ecf0f3;
  border-right: 1px solid #385468;
  border-bottom: 1px solid #385468;
}

body.dark nav.navigation-bar ul.menu .user a:hover {
  background: #212e36;
}

body.dark nav.navigation-bar .desplegable {
  background-color: #273b49;
  border: 1px solid #385468;
}

body.dark nav.navigation-bar .desplegable a {
  color: #ecf0f3;
}

body.dark nav.navigation-bar .desplegable a:hover {
  background: #212e36;
}

body.dark nav.nav_menu form {
  background: #212e36;
}

body.dark nav.nav_menu form input {
  background: #273b49;
  color: #ecf0f3;
  border: 1px solid #385468;
}

body.dark nav.nav_menu form button {
  background: #273b49;
}

body.dark nav.nav_menu form button i {
  color: #ecf0f3;
}

body.dark nav.nav_menu .subcategory_menu {
  background: #273b49;
}

body.dark nav.nav_menu .subcategory_menu ul li:hover {
  background: #212e36;
}

body.dark nav.nav_menu .subcategory_menu a {
  color: #ecf0f3;
}

body.dark nav.nav_menu .subcategory_menu li {
  border-bottom: 1px solid #385468;
}

body.dark nav.nav_menu .subcategory_menu .boton-close {
  border-bottom: 1px solid #385468;
}

body.dark nav.nav_menu .subcategory_menu .boton-close a:hover {
  background: #212e36;
}

/* Dark theme Footer */
body.dark footer {
  background-color: #212e36;
}

body.dark footer h4 {
  color: #ecf0f3;
}

body.dark footer a {
  color: #ecf0f3;
}

body.dark footer label {
  color: #ecf0f3;
}

body.dark footer img {
  opacity: 0.9;
}

body.dark footer input {
  background: #273b49;
  color: #ecf0f3;
  border: 1px solid #385468;
}

body.dark footer button {
  opacity: 0.9;
}

/* Pagina de Inicio */
body.dark section.section-vendido article.producto .container-product-index {
  background-color: #212e36;
  border: 1px solid #385468;
}

body.dark section.section-vendido article.producto .container-product-index a.product-name {
  color: #ecf0f3;
}

body.dark section.section-vendido article.producto .container-product-index span.discount {
  color: #52a5e0;
}

body.dark section.section-vendido .producto {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body.dark .boton-productos a h4 {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Terminos y condiciones */
body.dark .como-comprar ul.atajos li a.inicio {
  color: #ecf0f3;
}

body.dark .como-comprar li {
  color: #c8ccce;
}

/* Sucursales */
body.dark .contact ul.atajos li a.inicio {
  color: #ecf0f3;
}

body.dark .contact .container {
  border: 1px solid #2c4353;
  background-color: #273b49;
}

body.dark .contact .container h2 {
  color: var(--orange3);
}

body.dark .contact .contactanos {
  background: #273b49;
  border: 1px solid #2c4353;
}

body.dark .contact .contactanos label {
  color: #ecf0f3;
}

body.dark .contact .contactanos img {
  opacity: 0.9;
}

body.dark .contact .form-container {
  border-right: 10px solid #53a5e1;
  border-bottom: 1px solid #2c4353;
  border-top: 1px solid #2c4353;
  border-left: 1px solid #2c4353;
  background: #273b49;
}

body.dark .contact .form-container label {
  color: #ecf0f3;
}

body.dark .contact .form-container .btn-submit {
  background: #53a5e1;
}

body.dark .contact h2 {
  color: #53a5e1;
}

/* Detalle de Producto */
body.dark .product-detail .price-product p {
  color: #53a5e1;
}

body.dark .product-detail .descripcion-container p {
  color: #ecf0f3;
}

body.dark .product-detail .local i, body.dark .product-detail .local span {
  color: #53a5e1;
}

body.dark .product-detail section.ubicacion-local {
  background: #273b49;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #2c4353;
}

body.dark .product-detail section.ubicacion-local span {
  color: #ecf0f3;
}

body.dark .product-detail section.ubicacion-local h2 {
  color: #53a5e1;
}

body.dark .product-detail .medios span {
  color: #53a5e1;
}

/* Formulario de Login y Register */
body.dark .login .form-container {
  background: #212e36;
  border-bottom: 1px solid #2c4353;
  border-top: 1px solid #2c4353;
  border-left: 1px solid #2c4353;
  border-radius: 2px;
  border-right: 20px solid #53a5e1;
}

body.dark .login .form-container h2 {
  color: #53a5e1;
}

body.dark .login .form-container label {
  color: #ecf0f3;
}

body.dark .login .form-container span {
  color: #ecf0f3;
}

body.dark .login .form-container .not-account a {
  color: #53a5e1;
}

body.dark .login .form-container .olvidaste a {
  color: #53a5e1;
}

body.dark .login .form-container .button-container button {
  background-color: #53a5e1;
}

body.dark .login .form-container input {
  background: #273b49;
  color: white;
  border: 1px solid #385468;
}

body.dark .login .form-container .yes-account a {
  color: #53a5e1;
}

/* Formulario de Creacion y Edicion */
body.dark .form-container-admin {
  background: #212e36;
  border: 1px solid #273b49;
}

body.dark .form-container-admin label {
  color: #ecf0f3;
}

body.dark .form-container-admin input {
  background: #273b49;
  color: white;
  border: 1px solid #385468;
}

body.dark .form-container-admin textarea {
  background: #273b49;
  border: 1px solid #385468;
  color: #ecf0f3;
}

body.dark .form-container-admin select {
  background: #273b49;
  color: #ecf0f3;
  border: 1px solid #385468;
}

body.dark .form-container-admin button {
  background: #53a5e1;
}
/*# sourceMappingURL=styles.css.map */